<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="afflictions">
  {{#*inline "dlAffliction"}}
  <div class="item-group-affliction checkable {{#if value}}selected{{/if}} {{#if immune}}locked{{/if}}" style="width: auto; margin: 2px; position: relative;" {{#if
    tooltip}}data-tippy-affliction="{{localize tooltip}}" {{/if}}>
    <input type="checkbox" id="data.afflictions.{{name}}" data-name="{{name}}" {{checked value}} />
    <i class="icon-{{name}} themed-icon"></i>
    <span class="sep"></span>
    <span class="text">{{localize label}}</span>
  </div>
  {{/inline}}

  <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
    <div class="col-12">{{localize "DL.Actions"}}</div>
  </div>

  <div class="grid-4">
    {{> dlAffliction name="concentrate" value=flags.demonlord.concentrate label="DL.concentrate"
    tooltip="DL.AfflictionsConcentrate"}}
    {{> dlAffliction name="defend" value=flags.demonlord.defend label="DL.defend" tooltip="DL.AfflictionsDefend"}}
    {{> dlAffliction name="help" value=flags.demonlord.help label="DL.help" tooltip="DL.AfflictionsHelp"}}
    {{> dlAffliction name="prepare" value=flags.demonlord.prepare label="DL.prepare" tooltip="DL.AfflictionsPrepare"}}
    {{> dlAffliction name="reload" value=flags.demonlord.reload label="DL.reload" tooltip="DL.AfflictionsReload"}}
    {{> dlAffliction name="retreat" value=flags.demonlord.retreat label="DL.retreat" tooltip="DL.AfflictionsRetreat"}}
    {{> dlAffliction name="rush" value=flags.demonlord.rush label="DL.rush" tooltip="DL.AfflictionsRush"}}
    {{> dlAffliction name="stabilize" value=flags.demonlord.stabilize label="DL.stabilize" tooltip="DL.AfflictionsStabilize"}}
  </div>

  <div class="dl-text-header-upper dl-underline-red dl-item-row-header" style="margin-top: 8px">
    <div class="col-12">{{localize "DL.ModsAfflictions"}}</div>
  </div>

  <div class="grid-4">
    {{> dlAffliction name="asleep" value=flags.demonlord.asleep immune=immunities.asleep label="DL.asleep" tooltip="DL.AfflictionsAsleep" }}
    {{> dlAffliction name="blinded" value=flags.demonlord.blinded immune=immunities.blinded label="DL.blinded" tooltip="DL.AfflictionsBlinded" }}
    {{> dlAffliction name="charmed" value=flags.demonlord.charmed immune=immunities.charmed label="DL.charmed" tooltip="DL.AfflictionsCharmed" }}
    {{> dlAffliction name="compelled" value=flags.demonlord.compelled immune=immunities.compelled label="DL.compelled" tooltip="DL.AfflictionsCompelled" }}
    {{> dlAffliction name="dazed" value=flags.demonlord.dazed immune=immunities.dazed label="DL.dazed" tooltip="DL.AfflictionsDazed" }}
    {{> dlAffliction name="deafened" value=flags.demonlord.deafened immune=immunities.deafened label="DL.deafened" tooltip="DL.AfflictionsDeafened" }}
    {{> dlAffliction name="defenseless" value=flags.demonlord.defenseless immune=immunities.defenseless label="DL.defenseless" tooltip="DL.AfflictionsDefenseless"}}
    {{> dlAffliction name="diseased" value=flags.demonlord.diseased immune=immunities.diseased label="DL.diseased" tooltip="DL.AfflictionsDiseased" }}
    {{> dlAffliction name="fatigued" value=flags.demonlord.fatigued immune=immunities.fatigued label="DL.fatigued" tooltip="DL.AfflictionsFatigued" }}
    {{> dlAffliction name="frightened" value=flags.demonlord.frightened immune=immunities.frightened label="DL.frightened" tooltip="DL.AfflictionsFrightened" }}
    {{> dlAffliction name="horrified" value=flags.demonlord.horrified immune=immunities.horrified label="DL.horrified" tooltip="DL.AfflictionsHorrified" }}
    {{> dlAffliction name="grabbed" value=flags.demonlord.grabbed immune=immunities.grabbed label="DL.grabbed" tooltip="DL.AfflictionsGrabbed" }}
    {{> dlAffliction name="immobilized" value=flags.demonlord.immobilized immune=immunities.immobilized label="DL.immobilized" tooltip="DL.AfflictionsImmobilized"}}
    {{> dlAffliction name="impaired" value=flags.demonlord.impaired immune=immunities.impaired label="DL.impaired" tooltip="DL.AfflictionsImpaired" }}
    {{> dlAffliction name="poisoned" value=flags.demonlord.poisoned immune=immunities.poisoned label="DL.poisoned" tooltip="DL.AfflictionsPoisoned" }}
    {{> dlAffliction name="prone" value=flags.demonlord.prone immune=immunities.prone label="DL.prone" tooltip="DL.AfflictionsProne" }}
    {{> dlAffliction name="slowed" value=flags.demonlord.slowed immune=immunities.slowed label="DL.slowed" tooltip="DL.AfflictionsSlowed" }}
    {{> dlAffliction name="stunned" value=flags.demonlord.stunned immune=immunities.stunned label="DL.stunned" tooltip="DL.AfflictionsStunned" }}
    {{> dlAffliction name="surprised" value=flags.demonlord.surprised immune=immunities.surprised label="DL.surprised" tooltip="DL.AfflictionsSurprised" }}
    {{> dlAffliction name="unconscious" value=flags.demonlord.unconscious immune=immunities.unconscious label="DL.unconscious" tooltip="DL.AfflictionsUnconscious"}}
  </div>

  <div class="dl-text-header-upper dl-underline-red dl-item-row-header" style="margin-top: 8px">
    <div class="col-12">{{localize "DL.ModsDamage"}}</div>
  </div>
  <div class="grid-4">
    {{> dlAffliction name="injured" value=flags.demonlord.injured label="DL.injured" tooltip="DL.injuredText"}}
    {{> dlAffliction name="incapacitated" value=flags.demonlord.incapacitated label="DL.incapacitated" tooltip="DL.incapacitatedText"}}
    {{> dlAffliction name="disabled" value=flags.demonlord.disabled label="DL.disabled" tooltip="DL.disabledText" }}
    {{> dlAffliction name="dying" value=flags.demonlord.dying label="DL.dying" tooltip="DL.dyingText" }}
  </div>

  <div class="dl-text-header-upper dl-underline-red dl-item-row-header" style="margin-top: 8px">
    <div class="col-12">{{localize "Token"}}</div>
  </div>
  <div class="grid-4">
    {{> dlAffliction name="invisible" value=flags.demonlord.invisible label="EFFECT.StatusInvisible" tooltip="DL.invisibleText"}}
    {{> dlAffliction name="surrounded" value=flags.demonlord.surrounded label="DL.surrounded" tooltip="DL.AfflictionsSurrounded"}}
    {{> dlAffliction name="helped" value=flags.demonlord.helped label="DL.helped" tooltip="DL.AfflictionsHelped"}}
  </div>

  <div class="grid-3" style="margin-top: 32px">
    <div></div>
    <div class="dl-new-project-2 disableafflictions" style="width: auto">
      <span style="margin-left: 4px; text-align: center; width: 100%">{{localize "DL.ModsDisableAfflictions"}}</span>
    </div>
  </div>
</div>