<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="background">
  <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
    <div class="col-12">{{localize "DL.BackgroundTitle"}}</div>
  </div>
  <div class="dl-editor-box">
    <prose-mirror name="system.description" data-document-u-u-i-d="{{actor.uuid}}" value="{{system.description}}" collaborate="true" toggled="true">
      {{{system.enrichedDescription}}}
    </prose-mirror>
  </div>
</div>
