<div class="tab demonlord-v2-tab scrollable dl-creature-reference-tab {{cssClass}}" data-group="primary" data-tab="reference">
  <div class="dl-creature-title row">
    <div class="col-6">{{actor.name}}</div>
    <div class="col-6" style="margin-right: 0; margin-left: auto">
      {{localize "DL.CreatureDifficulty"}} {{system.difficulty}}
    </div>
  </div>
  <div class="dl-creature-sub-title">
    <b>
      {{localize "DL.CharSize"}} {{system.characteristics.size}}
      {{#if system.horrifying}}{{toLowerCase (localize "DL.CreatureHorrifying")}}{{/if}}
      {{#if system.frightening}}{{toLowerCase (localize "DL.CreatureFrightening")}}{{/if}}
      {{system.descriptor}}
    </b>
  </div>

  <!-- STATS AND TRAITS -->
  <div class="dl-creature-section-section">
    <div>
      <b>{{localize "DL.AttributePerception"}}</b>&nbsp;
      {{system.attributes.perception.value}} ({{plusify system.attributes.perception.modifier}});
      {{system.perceptionsenses}}
    </div>
    <div>
      <b>{{localize "DL.ArmorDefense"}}</b> {{system.characteristics.defense}}{{#if system.armor}}
      ({{system.armor}}){{/if}};&nbsp;
      <b>{{localize "DL.CreatureHealth"}}</b> {{system.characteristics.health.max}};&nbsp;
      <b>{{localize "DL.CharInsanity"}}</b>
      {{#if system.characteristics.insanity.immune}}
        –;&nbsp;
      {{else}}
        {{system.characteristics.insanity.value}};&nbsp;
      {{/if}}
      <b>{{localize "DL.CharCorruption"}}</b>
      {{#if system.characteristics.corruption.immune}}
        –;&nbsp;
      {{else}}
        {{system.characteristics.corruption.value}};&nbsp;
      {{/if}}
    </div>
    <div>
      <b>{{localize "DL.AttributeStrength"}}</b> {{system.attributes.strength.value}} ({{plusify
      system.attributes.strength.modifier}}),
      <b>{{localize "DL.AttributeAgility"}}</b> {{system.attributes.agility.value}} ({{plusify
      system.attributes.agility.modifier}}),
      <b>{{localize "DL.AttributeIntellect"}}</b> {{system.attributes.intellect.value}} ({{plusify
      system.attributes.intellect.modifier}}),
      <b>{{localize "DL.AttributeWill"}}</b> {{system.attributes.will.value}} ({{plusify system.attributes.will.modifier}})
    </div>
    <div>
      <b>{{localize "DL.CharSpeed"}}</b> {{system.characteristics.speed}}
      {{system.speedtraits}}
    </div>
{{#each actor.features as |item id|}}
<div data-item-id="{{item._id}}">
  <b class="dl-rollable item-roll">{{item.name}}</b> {{{item.system.enrichedDescription}}}
      </div>
    {{/each}}
  </div>

  <!-- ATTACK OPTIONS -->
  {{#if actor.weapons.length}}
  <div class="dl-creature-section-header">
    {{localize "DL.CreatureAttackOptions"}}
  </div>
    <div class="dl-creature-section-section">
      {{#each actor.weapons as |item id|}}
      <div data-item-id="{{item._id}}">
        <b class="dl-rollable attack-roll">{{item.name}}</b>
        {{weaponType item}}
        {{#if system.action.attack}}
          {{plusifyzero (lookupAttributeModifier system.action.attack item.parent)}}
        {{/if}}
          {{#ifNotEquals system.action.boonsbanes 0}}
            {{bobaText system.action.boonsbanes}}
          {{/ifNotEquals}}
          {{#if system.action.damage}}
            ({{system.action.damage}})
            {{#if system.action.extraEffect20}}
              {{extraEffectDescription 'twentyplus' system.action.extraEffect20}}
            {{/if}}
            {{#if system.action.extraEffect}}
              {{extraEffectDescription 'twenty' system.action.extraEffect}}
            {{/if}}
          {{/if}}
          {{#if item.system.enrichedDescription}} 
          | {{{item.system.enrichedDescription}}}
          {{/if}}
        </div>
        {{/each}}
    </div>

  {{/if}}
<!-- SPECIAL ATTACKS -->
{{#if actor.talents.length}}
<div class="dl-creature-section-header">
  {{localize "DL.CreatureSpecialAttacks"}}
    </div>
    <div class="dl-creature-section-section">
      {{#each actor.talents as |item id|}}
      <div data-item-id="{{item._id}}">
        <b class="dl-rollable talent-roll">{{item.name}}</b> {{{item.system.enrichedDescription}}}
      </div>
      {{/each}}
      </div>
  {{/if}}
<!-- SPECIAL ACTIONS -->
{{#if actor.specialactions.length}}
<div class="dl-creature-section-header">
  {{localize "DL.CreatureSpecialActions"}}
    </div>
    <div class="dl-creature-section-section">
      {{#each actor.specialactions as |item id|}}
      <div data-item-id="{{item._id}}">
        <b class="dl-rollable item-roll">{{item.name}}</b> {{{item.system.enrichedDescription}}}
        </div>
      {{/each}}
      </div>
      {{/if}}
<!-- MAGIC -->

{{#if actor.system.characteristics.power}}
<div class="dl-creature-section-header">
  {{localize "DL.TabsMagic"}}
</div>
    <div class="dl-creature-section-section">
      <div>
        <b>{{localize "DL.CharPower"}}</b> {{actor.system.characteristics.power}}
        </div>
      {{#each actor.spellbook as |spellbook id|}}
      <div>
          <b>{{spellbook.tradition}}</b>&nbsp;
          {{#each spellbook.spells as |spell id|}}
          <span class="dl-rollable magic-roll" data-item-id="{{spell._id}}">{{toLowerCase spell.name}}</span>
          {{#if system.castings.max}}
          &nbsp;({{system.castings.max}})
          {{/if}},

          {{/each}}

        </div>
      {{/each}}
      </div>
  {{/if}}
<!-- END OF ROUND -->
{{#if actor.endoftheround.length}}
<div class="dl-creature-section-header">
  {{localize "DL.CreatureSpecialEndRound"}}
    </div>
    <div class="dl-creature-section-section">
      {{#each actor.endoftheround as |item id|}}
      <div data-item-id="{{item._id}}">
        <b class="dl-rollable item-roll">{{item.name}}</b> {{{item.system.enrichedDescription}}}
      </div>
      {{/each}}
    </div>
  {{/if}}
</div>


