<div class="tab demonlord-v2-tab scrollable dl-creature-tab {{cssClass}}" data-group="primary" data-tab="combat">
  <div class="grid-2">
    <div class="col-1">

      <!-- TRAITS  -->
      <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
        <div class="col-10">{{localize "DL.CreatureTraits"}}</div>
        <div class="col-2">
          <a class="item-create" data-action="createItem" title="{{localize 'DL.FeatureAdd'}}" data-type="feature"><i
              class="fas fa-plus"></i></a>
          </div>
          </div>

      {{#each actor.features as |item id|}}
      <div class="dl-item-row dropitem" data-item-id="{{item._id}}">
        <div class="row">
          <div class="col-10">
            <img class='dl-clickable-nored item-edit' data-action="editItem" src="{{item.img}}" title="{{item.name}}" width="32"
              height="32" />
            <label class="dl-clickable item-roll">{{item.name}}</label>
          </div>
          <div class="col-2" style="padding-top: 3px">
            <span class="dl-clickable dlToggleInfoBtn" data-action="toggleInfo">
              <i class="fas fa-chevron-up"></i>
            </span>
            <a class="dl-clickable item-delete" data-action="deleteItem" title="{{localize 'DL.FeatureDelete'}}"
              style="margin-left: 2px; margin-top: 3px;">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
        {{#if item.system.description}}
        <div class="row dlInfo dl-item-info" style="display: none; text-align: left">
          <div class="col-12">
            {{{item.system.enrichedDescription}}}
          </div>
        </div>
        {{/if}}
      </div>
      {{/each}}

      <!-- SPECIAL ACTIONS -->
      <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
        <div class="col-10">{{localize "DL.CreatureSpecialActions"}}</div>
        <div class="col-2">
          <a class="item-create" data-action="createItem" title="{{localize 'DL.CreatureAddSpecialActions'}}"
            data-type="specialaction"><i class="fas fa-plus"></i></a>
          </div>
          </div>


      {{#each actor.specialactions as |item id|}}
      <div class="dl-item-row dropitem .col-6" data-item-id="{{item._id}}">
        <div class="row">
          <div class="col-10">
            <img class='dl-clickable-nored item-edit' data-action="editItem" src="{{item.img}}" title="{{item.name}}" width="32"
              height="32" />
            <label class="dl-clickable item-roll">{{item.name}}</label>
          </div>
          <div class="col-2" style="padding-top: 3px">
            <span class="dl-clickable dlToggleInfoBtn" data-action="toggleInfo">
              <i class="fas fa-chevron-up"></i>
            </span>
            <a class="dl-clickable item-delete" data-action="deleteItem" title="{{localize 'DL.CreatureDeleteSpecialActions'}}"
              style="margin-left: 2px; margin-top: 3px;">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
        {{#if item.system.description}}
        <div class="row dlInfo dl-item-info" style="display: none; text-align: left">
          <div class="col-12">
            {{{item.system.enrichedDescription}}}
          </div>
        </div>
        {{/if}}
      </div>
      {{/each}}

      <!-- END OF ROUND -->
      <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
        <div class="col-10">{{localize "DL.CreatureSpecialEndRound"}}</div>
        <div class="col-2">
          <a class="item-create" data-action="createItem" title="{{localize 'DL.CreatureAddEndRound'}}"
            data-type="endoftheround"><i class="fas fa-plus"></i></a>
          </div>
          </div>

      {{#each actor.endoftheround as |item id|}}
      <div class="dl-item-row dropitem .col-6" data-item-id="{{item._id}}">
        <div class="row">
          <div class="col-10">
            <img class='dl-clickable-nored item-edit' data-action="editItem" src="{{item.img}}" title="{{item.name}}" width="32"
              height="32" />
            <label class="dl-clickable item-roll">{{item.name}}</label>
          </div>
          <div class="col-2" style="padding-top: 3px">
            <span class="dl-clickable dlToggleInfoBtn" data-action="toggleInfo">
              <i class="fas fa-chevron-up"></i>
            </span>
            {{#if (dlIsNestedItem item)}}
            <a class="dl-clickable item-edit" data-action="editItem" title="{{dlGetNestedItemSource item}}"
              style="margin-left: 2px; margin-top: 3px;">
              <i class="fa-solid fa-link"></i>
            </a>
            {{else}}
            <a class="dl-clickable item-delete" data-action="deleteItem" title="{{localize 'DL.CreatureDeleteEndRound'}}"
              style="margin-left: 2px; margin-top: 3px;">
              <i class="fas fa-times"></i>
            </a>
            {{/if}}
          </div>
        </div>
        {{#if item.system.description}}
        <div class="row dlInfo dl-item-info" style="display: none; text-align: left">
          <div class="col-12">
            {{{item.system.enrichedDescription}}}
          </div>
        </div>
        {{/if}}
      </div>
      {{/each}}
      </div>

    <div class="col-1">
      <!-- ATTACKS -->
      <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
        <div class="col-8">{{localize "DL.CreatureAttackOptions"}}</div>
        <div class="col-2">{{localize "DL.WeaponDamage"}}</div>
        <div class="col-2">
          <a class="item-create" data-action="createItem" title="{{localize 'DL.CreatureAddAttackOptions'}}" data-type="weapon"><i
              class="fas fa-plus"></i></a>
          </div>
          </div>

      {{#each actor.weapons as |item id|}}
      <div class="dl-item-row dropitem .col-6" data-item-id="{{item._id}}">
        <div class="row">
          <div class="col-8">
            <img class='dl-clickable-nored item-edit' data-action="editItem" src="{{item.img}}" title="{{item.name}}" width="32"
              height="32" />
            <label class="dl-rollable attack-roll">{{item.name}}</label>
          </div>
          <div class="col-2">
            {{defaultValue system.action.damage "―"}}{{#if system.action.damagetypes}}∗{{/if}}
          </div>
          <div class="col-2" style="padding-top: 3px">
            <span class="dl-clickable dlToggleInfoBtn" data-action="toggleInfo">
              <i class="fas fa-chevron-up"></i>
            </span>
            {{#if (dlIsNestedItem item)}}
            <a class="dl-clickable item-edit" data-action="editItem" title="{{dlGetNestedItemSource item}}">
              <i class="fa-solid fa-link"></i>
            </a>
            {{else}}
            <a class="dl-clickable item-delete" data-action="deleteItem" title="{{localize 'DL.CreatureDeleteAttackOptions'}}">
              <i class="fas fa-times"></i>
            </a>
            {{/if}}
          </div>
        </div>
        <div class="dlInfo dl-item-info" style="display: none; text-align: left">
          <!-- TODO: Action roll info. COPIED FROM COMBAT-TAB -->
          {{#if system.action.damage}}
          <div>
            <b>{{localize "DL.WeaponDamage"}}</b> {{system.action.damage}}
            {{#if system.action.damagetype}}({{system.action.damagetype}}){{/if}}
            {{#each system.action.damagetypes as |damagetype id|}}
            | {{damagetype.damage}}{{#if damagetype.damagetype}} ({{damagetype.damagetype}}){{/if}}
            {{/each}}
          </div>
          {{/if}}
          {{#if system.properties}}
          <div>
            <b>{{localize "DL.WeaponProperties"}}:</b> {{system.properties}}
          </div>
          {{/if}}
          {{#if system.requirement.minvalue}}
          <div>
            <b>{{localize "DL.ArmorStrengthRequiremet"}}:</b> {{system.requirement.minvalue}}
          </div>
          {{/if}}
          {{#if system.hands}}
          <div>
            <b>{{localize "DL.WeaponHands"}}:</b> {{system.hands}}
          </div>
          {{/if}}
          {{#if item.system.description}}
          <div>
            {{{item.system.enrichedDescription}}}
          </div>
          {{/if}}
        </div>
      </div>
      {{/each}}

      <!--  TALENTS / SPECIAL ATTACKS COPIED FROM TALENTS -->
      <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
        <div class="col-8">{{localize "DL.CreatureSpecialAttacks"}}</div>
        <div class="col-2">{{localize "DL.TalentUsesTitle"}}</div>
        <div class="col-2">
          <a class="spell-create" title="{{localize 'DL.CreatureAddSpecialAttacks'}}" data-type="talent">
            <i class="fas fa-plus"></i>
          </a>
        </div>
      </div>
      {{#each actor.talents as |talent id|}}
      <div class="dl-item-row dropitem" data-item-id="{{talent._id}}">
        <div class="row">
          <div class="col-6">
            <img class='dl-clickable item-edit' data-action="editItem" src="{{talent.img}}" title="{{talent.name}}" width="32"
              height="32" />
            <label class="talent-roll dl-rollable">{{talent.name}}</label>
          </div>
          <div class="col-2 dl-clickable talent-uses">
            {{#if system.allused}}
            {{localize 'DL.TalentUsed'}}
            {{else}} {{#if system.addtonextroll}}
            {{localize 'DL.TalentActive'}}
            {{/if}} {{/if}}
          </div>
          <div class="col-2 talent-uses">
            {{#if system.uses.max}}
            {{defaultValue system.uses.value 0}} / {{system.uses.max}} <i class="fas fa-arrows-alt-v"></i>
            {{else}}
            ―
            {{/if}}
          </div>
          <div class="col-2">
            <span class="dl-clickable dlToggleInfoBtn" data-action="toggleInfo">
              <i class="fas fa-chevron-up"></i>
            </span>
            {{#if (dlIsNestedItem talent)}}
            <a class="dl-clickable item-edit" data-action="editItem" title="{{dlGetNestedItemSource talent}}"><i
                class="fa-solid fa-link"></i></a>
            {{else}}
            <a class="dl-clickable item-delete" data-action="deleteItem" title="{{localize 'DL.CreatureDeleteSpecialAttacks'}}"><i
                class="fas fa-times"></i></a>
            {{/if}}
          </div>
        </div>
        <!-- Toggleable Info -->
        <div class="row dlInfo dl-item-info" style="display: none; text-align: left">
          <div class="col-12">
            {{{talent.system.enrichedDescription}}}
          </div>
        </div>
      </div>
      {{/each}}

    </div>


  </div>

</div>
