<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> systems/demonlord/templates/actor/sidemenu.hbs}} {{!-- Sheet Header --}}
  <header class="sheet-header">{{> systems/demonlord/templates/actor/header.hbs}}</header>
  <nav class="sheet-navigation" data-group="primary">
    <a class="item" data-tab="character">{{localize "DL.TabsCharacter"}}</a>
    <a class="item" data-tab="combat">{{localize "DL.TabsCombat"}}</a>
    <a class="item" data-tab="talents">{{localize "DL.TabsTalents"}}</a>
    <a class="item" data-tab="magic">{{localize "DL.TabsMagic"}}</a>
    <a class="item" data-tab="items">{{localize "DL.TabsInventory"}}</a>
    <a class="item" data-tab="background">{{localize "DL.TabsBackground"}}</a>
    <a class="item" data-tab="afflictions">{{localize "DL.TabsAfflictions"}}</a>
    {{#if effects}}<a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>{{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      {{!-- Character Tab --}}
      <div class="tab character" data-group="primary" data-tab="character">
        {{> systems/demonlord/templates/tabs/character.hbs}}
      </div>
      {{!-- Combat Tab --}}
      <div class="tab combat" data-group="primary" data-tab="combat">
        {{> systems/demonlord/templates/tabs/combat.hbs}}
      </div>

      {{!-- Talents Tab --}}
      <div class="tab talents" data-group="primary" data-tab="talents">
        {{> systems/demonlord/templates/tabs/talents.hbs}}
      </div>

      {{!-- Magic Tab --}}
      <div class="tab spells" data-group="primary" data-tab="magic">
        {{> systems/demonlord/templates/tabs/magic.hbs}}
      </div>

      {{!-- Items Tab --}}
      <div class="tab items" data-group="primary" data-tab="items">
        {{> systems/demonlord/templates/tabs/item.hbs}}
      </div>

      {{!-- Background Tab --}}
      <div class="tab biography" data-group="primary" data-tab="background">
        {{> systems/demonlord/templates/tabs/background.hbs}}
      </div>

      {{!-- Active Affliction Tab --}}
      <div class="tab effects" data-group="primary" data-tab="afflictions">
        {{> systems/demonlord/templates/tabs/afflictions.hbs}}
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab effects" data-group="primary" data-tab="effects">
        {{> systems/demonlord/templates/tabs/effects.hbs}}
      </div>
    </section>
  </section>
</form>
