<form class="{{cssClass}} flexcol" autocomplete="off">
  {{> systems/demonlord/templates/actor/creature-sidemenu.hbs}} {{!-- Sheet Header --}}
  <header class="sheet-header">{{> systems/demonlord/templates/actor/creature-header.hbs}}</header>
  <nav class="sheet-navigation creature" data-group="primary">
    <a class="item" data-tab="creature">{{localize "DL.TabsCombat"}}</a>
    <a class="item" data-tab="magic">{{localize "DL.TabsMagic"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    <a class="item" data-tab="reference">{{localize "DL.Reference"}}</a>
    <a class="item" data-tab="afflictions">{{localize "DL.ModsAfflictions"}}</a>
    <a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>
  </nav>

  <section class="sheet-body">
    <section class="sheet-content">
      {{!-- Creature Tab --}}
      <div class="tab creature dl-creature-tab" data-group="primary" data-tab="creature" style="position: relative;">
        {{> systems/demonlord/templates/tabs/creature-view.hbs}}
      </div>
      {{!-- Active Affliction Tab --}}
      <div class="tab afflictions" data-group="primary" data-tab="afflictions">
        {{> systems/demonlord/templates/tabs/afflictions.hbs}}
      </div>
      {{!-- Spells Tab --}}
      <div class="tab spells" data-group="primary" data-tab="magic">
        {{> systems/demonlord/templates/tabs/magic.hbs}}
      </div>
      {{!-- Reference Tab --}}
      <div class="tab dl-creature-reference-tab" data-group="primary" data-tab="reference">
        {{> systems/demonlord/templates/tabs/creature-reference.hbs}}
      </div>
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        <div class="dl-editor-box">
          {{editor system.enrichedDescription target="system.description" button=true owner=owner editable=editable
                   engine="prosemirror"}}
        </div>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab creatureeffects" data-group="primary" data-tab="effects">
        {{> systems/demonlord/templates/tabs/activeeffects.hbs effects=generalEffects}}
      </div>
    </section>
  </section>
</form>
