<div class="actor-header">

  <div class="row">
    <div class="col-10 actor-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DL.CharName'}}"/>
    </div>
    <div class="col-2 actor-level">
      <label>{{localize "DL.CharLevel"}}</label>
      <input name="system.level" type="text" value="{{system.level}}" data-dtype="{{attribute.dtype}}" min="0"/>
    </div>
  </div>

  <div class="row-10">
    {{#*inline "attribute-partial"}}
      <div class="col-2 attribute" style="margin-top: 8px">
        <label class="name" data-key="{{n}}">{{attr.label}}</label>
        {{#if attr.immune}}
          <input type="text" name="system.attributes.{{n}}.value" value="-" disabled="true"/>
        {{else}}
          <input type="Number" name="system.attributes.{{n}}.value" value="{{attr.value}}"/>
        {{/if}}
        <label class="modifier">{{plusify attr.modifier}}</label>
      </div>
    {{/inline}}

    {{> attribute-partial attr=system.attributes.strength    n='strength'}}
    {{> attribute-partial attr=system.attributes.agility     n='agility'}}
    {{> attribute-partial attr=system.attributes.intellect   n='intellect'}}
    {{> attribute-partial attr=system.attributes.will        n='will'}}
    {{> attribute-partial attr=system.attributes.perception  n='perception'}}
  </div>

</div>
