{{#if system.isPC}}
  <aside>
{{else}}
  <aside class="npc">
{{/if}}
  <div class="sidebar" data-group="dashboard" data-tab="sidebar">
    <div class="isPC">
      <label class="switch">
        <input type="checkbox" id="system.isPC" name="system.isPC" {{checked system.isPC}} />
        <div class="slider round"><span class="on">{{localize "DL.ActorTypePC"}}</span><span class="off">{{localize "DL.ActorTypeNPC"}}</span></div>
      </label>
    </div>
    {{#if system.isPC}}
      <div class="frame">
        <img class="profile-img" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      </div>
    {{else}}
      <div class="framenpc">
        <img class="profile-img" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
      </div>
    {{/if}}
    {{#if system.characteristics.health.injured}}
      <div class="injured-overlay"></div>
    {{/if}}
    <div class="restbox">
      <div class="rest">
        <input
                class="rest-char button"
                type="button"
                name="rest-char"
                id="rest-char"
                class="button"
        />
        <image class="rest-icon"/>
        <label for="rest-char"/>
      </div>
      <div class="resttext">{{localize "DL.RestAction"}}</div>
    </div>
    <div class="healingratebox" style="cursor: pointer">
      <div class="healingrate">{{system.characteristics.health.healingrate}}</div>
      <div class="healingratetext">{{localize "DL.CharHealthHealingRating"}}</div>
    </div>
    <div class="editBars">
      <a class="bar-edit" title="{{localize 'DL.ToggleBarView'}}"><i class="fas fa-edit"></i></a>
    </div>
    {{#if system.characteristics.editbar}}
      <div class="barboxes">
        <div class="barbox">
          <div class="healthtext">{{localize "DL.TalentDamage"}}</div>
          <div class="healthedit">
            <input
                    name="system.characteristics.health.value"
                    type="number"
                    value="{{system.characteristics.health.value}}"
                    placeholder="{{system.characteristics.health.value}}"
                    style="color: white; border: none; box-shadow: none"
                    min="{{system.characteristics.health.min}}"
                    max="{{system.characteristics.health.max}}"
            />
          </div>
        </div>
        <div class="barbox">
          <div class="insanitytext">{{localize "DL.CharInsanity"}}</div>
          <div class="insanityedit">
            <input
                    name="system.characteristics.insanity.value"
                    type="number"
                    value={{ifThen system.characteristics.insanity.immune '-' system.characteristics.insanity.value}}
                    placeholder={{ifThen system.characteristics.insanity.immune '-' system.characteristics.insanity.value}}
                    style="color: white; border: none; box-shadow: none"
                    min="{{system.characteristics.insanity.min}}"
                    max="{{system.characteristics.insanity.max}}"
                    {{disabled system.characteristics.insanity.immune}}
            />
          </div>
        </div>
        <div class="barbox">
          <div class="corruptiontext">{{localize "DL.CharCorruption"}}</div>
          <div class="corruptionedit">
            <input
                    name="system.characteristics.corruption.value"
                    type="number"
                    value={{ifThen system.characteristics.corruption.immune '-' system.characteristics.corruption.value}}
                    placeholder={{ifThen system.characteristics.corruption.immune '-' system.characteristics.corruption.value}}
                    style="color: white; border: none; box-shadow: none"
                    min="0"
                    {{disabled system.characteristics.corruption.immune}}
            />
          </div>
        </div>
      </div>
    {{else}}
      <div class="health">
        <div class="addDamage">{{localize "DL.TalentDamage"}}</div>
        <div class="healthbar">
          <span class="healthbar-fill"></span>
        </div>
        <div class="healtmax">{{system.characteristics.health.max}}</div>
        <div class="damage">{{system.characteristics.health.value}}</div>
      </div>
      <div class="insanity">
        <div class={{ifThen system.characteristics.insanity.immune "Insanity"  "addInsanity"}}>{{localize "DL.CharInsanity"}}</div>
        <div class="healthbar">
          <span class={{ifThen system.characteristics.insanity.immune "insanity-empty" "insanity-fill"}}></span>
        </div>
        {{#unless system.characteristics.insanity.immune}}
          <div class="insanitymax">{{system.characteristics.insanity.max}}</div>
          <div class="insanityvalue">{{system.characteristics.insanity.value}}</div>
        {{else}}
          <div class="insanitymiddle">–</div>
        {{/unless}}
      </div>
      <div class="corruption">
        <div class={{ifThen system.characteristics.corruption.immune "Corruption"  "addCorruption"}}>{{localize "DL.CharCorruption"}}</div>
        <div class="healthbar">
          <span class={{ifThen system.characteristics.corruption.immune "corruption-empty" "corruption-fill"}}></span>
        </div>
        {{#unless system.characteristics.corruption.immune}}
          <div class="corruptionmax">20</div>
          <div class="corruptionvalue">{{system.characteristics.corruption.value}}</div>
          <div class="insanityvalue">{{system.characteristics.insanity.value}}</div>
          <a class="corruption-roll" title="{{localize 'DL.CharRolCorruption'}}"><i class="fas fa-dice-d20"></i></a>          
        {{else}}
          <div class="corruptionmiddle">–</div>
        {{/unless}}
      </div>
    {{/if}}
    <div class="chars grid grid-2col">
      <div class="defensebox">
        <div class="defensetext">{{localize "DL.AttributeDefense"}}</div>
        <div class="defense">{{system.characteristics.defense}}</div>
      </div>
      <div class="powerbox">
        <div class="powertext">{{localize "DL.CharPower"}}</div>
        <div class="power">{{system.characteristics.power}}</div>
      </div>
    </div>
    <div class="chars grid grid-2col">
      <div class="speedbox">
        <div class="speedtext">{{localize "DL.CharSize"}}</div>
        <div class="speed">{{system.characteristics.size}}</div>
      </div>
      <div class="speedbox">
        <div class="speedtext">{{localize "DL.CharSpeed"}}</div>
        <div class="speed">{{system.characteristics.speed}}</div>
      </div>
    </div>
    <div class="chars grid grid-2col">
      <div class="speedbox">
        <div class="speedtext">{{localize "DL.CharFortune"}}</div>
        <div class="speed">
          <input
                  name="system.characteristics.fortune"
                  type="text"
                  value="{{system.characteristics.fortune}}"
                  data-dtype="Number"
                  placeholder=""
          />
        </div>
      </div>
      <div></div>
    </div>
    <div class="chars flexrow">
      <div class="turnmode">
        <label class="switchTurn">
          <input type="checkbox" id="system.fastturn" name="system.fastturn" {{checked system.fastturn}} />
          <div class="slider round">
              <span class="on">{{localize "DL.TurnFastButton"}}</span
              ><span class="off">{{localize "DL.TurnSlowButton"}}</span>
          </div>
        </label>
      </div>
    </div>
  </div>
</aside>
</aside>
