{{!--
  Context:
  - filters.creaturerole
    - source
    - description
    - isHealing
    - isDamage
--}}
<aside class="demonlord-compendium-browser-filters  {{#if (eq search.type 'creaturerole')}}active{{/if}}">

  <div class="filter-group checkable">
    <div class="input-group" data-tippy-content="{{localize 'DL.IsFrightening'}}">
      <input type="checkbox" name="filters.creaturerole.isFrightening" {{checked filters.creaturerole.isFrightening}}>
      <i class="icon-healing themed-icon"></i>
      <span class="sep"></span>
      <span class="text">{{localize 'DL.CreatureFrightening'}}</span>
    </div>
  </div>

  <div class="filter-group checkable">
    <div class="input-group" data-tippy-content="{{localize 'DL.IsHorrifying'}}">
      <input type="checkbox" name="filters.creaturerole.isHorrifying" {{checked filters.creaturerole.isHorrifying}}>
      <i class="icon-damage themed-icon"></i>
      <span class="sep"></span>
      <span class="text">{{localize 'DL.CreatureHorrifying'}}</span>
    </div>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CharDescription'}}</b>
    <input type="text" class="filter-group-textbox" name="filters.creaturerole.description" value="{{filters.creaturerole.description}}">
  </div>
</aside>
