{{!--
  Context:
  - filters.creature
    - source
    - type
    - usesMagic
--}}
<aside class="demonlord-compendium-browser-filters {{#if (eq search.type 'creature')}}active{{/if}}">

  <div class="filter-group">
    <b>{{localize 'DL.CreatureDifficulty'}}</b>
    <multi-select style="width:300px" name="filters.creature.difficulty">
      {{selectOptions creatureDifficultyOptions selected=filters.creature.difficulty localize=false multiple=true}}
    </multi-select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CreatureDescriptor'}}</b>
    <multi-select style="width:300px" name="filters.creature.descriptor">
      {{selectOptions creatureDescriptorOptions selected=filters.creature.descriptor localize=false multiple=true}}
    </multi-select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CreaturePerceptionSenses'}}</b>
    <multi-select style="width:300px" name="filters.creature.perceptionSenses">
      {{selectOptions creaturePerceptionSensesOptions selected=filters.creature.perceptionSenses localize=false multiple=true}}
    </multi-select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CompendiumBrowserFilters.UsesMagic'}}</b>
    <select class="filter-group-textbox" name="filters.creature.usesMagic">
      {{selectOptions magicOptions selected=filters.creature.usesMagic blank="" localize=true}}
    </select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.IsFrightening'}}</b>
    <select class="filter-group-textbox" name="filters.creature.frighteningType">
      {{selectOptions frighteningOptions selected=filters.creature.frighteningType blank="" localize=true}}
    </select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CharDescription'}}</b>
    <input type="text" class="filter-group-textbox" name="filters.creature.description" value="{{filters.creature.description}}">
  </div>
</aside>
