{{!--
  Context:
  - filters.path
    - source
    - type
    - usesMagic
--}}
<aside class="demonlord-compendium-browser-filters {{#if (eq search.type 'path')}}active{{/if}}">

  <div class="filter-group">
    <b>{{localize 'DL.PathsPathType'}}</b>
    <select class="filter-group-textbox" name="filters.path.type">
      {{selectOptions pathTypeOptions selected=filters.path.type blank="" localize=true}}
    </select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CompendiumBrowserFilters.UsesMagic'}}</b>
    <select class="filter-group-textbox" name="filters.path.usesMagic">
      {{selectOptions magicOptions selected=filters.path.usesMagic blank="" localize=true}}
    </select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CharDescription'}}</b>
    <input type="text" class="filter-group-textbox" name="filters.path.description" value="{{filters.path.description}}">
  </div>
</aside>
