{{!--
  Context:
  - filters.path
    - source
    - type
    - usesMagic
--}}
<aside class="demonlord-compendium-browser-filters {{#if (eq search.type 'item')}}active{{/if}}">

  <div class="filter-group">
    <b>{{localize 'DL.Availability'}}</b>
    <select class="filter-group-textbox" name="filters.item.availability">
      {{selectOptions availabilityOptions selected=filters.item.availability blank="" localize=true}}
    </select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.ConsumableType'}}</b>
    <select class="filter-group-textbox" name="filters.item.consumableType">
      {{selectOptions consumableTypeOptions selected=filters.item.consumableType blank="" localize=true}}
    </select>
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.WeaponProperties'}}</b>
    <input type="text" class="filter-group-textbox" name="filters.item.properties" value="{{filters.item.properties}}">
  </div>

  <div class="filter-group">
    <b>{{localize 'DL.CharDescription'}}</b>
    <input type="text" class="filter-group-textbox" name="filters.item.description" value="{{filters.item.description}}">
  </div>
</aside>
