{{!--
  Context:
  - results
    - items
--}}
<div class="demonlord-compendium-browser-results scrollable {{#if (eq search.type 'spell')}}active{{/if}}">
    <table>
        {{!-- Fields info --}}
        <tr>
            <th></th>
            <th class="sortable {{#if (eq search.sortColumn 'name')}}{{search.sortType}}{{/if}}" data-sort-property="name">{{localize 'DL.CreatureName'}}</th>
            <th class="sortable {{#if (eq search.sortColumn 'system.source')}}{{search.sortType}}{{/if}}" data-sort-property="system.source">{{localize 'DL.Source'}}</th>
            <th class="sortable {{#if (eq search.sortColumn 'system.tradition')}}{{search.sortType}}{{/if}}" data-sort-property="system.tradition">{{localize 'DL.MagicTradition'}}</th>
            <th class="sortable {{#if (eq search.sortColumn 'system.rank')}}{{search.sortType}}{{/if}}" data-sort-property="system.rank">{{localize 'DL.SpellRank'}}</th>
            <th class="sortable {{#if (eq search.sortColumn 'system.spelltype')}}{{search.sortType}}{{/if}}" data-sort-property="system.spelltype">{{localize 'DL.SpelltypeHeader'}}</th>
            <th class="sortable {{#if (eq search.sortColumn 'system.attribute')}}{{search.sortType}}{{/if}}" data-sort-property="system.attribute">{{localize 'DL.SpellAttribute'}}</th>

        </tr>

        {{#each results as |item|}}
            <tr data-item-id="{{item.uuid}}">
                <td><img src="{{item.img}}" alt="{{item.name}}"></td>
                <td class="clickable" data-action="editItem">{{item.name}}</td>
                <td>{{item.system.source}}</td>
                <td>{{item.system.tradition}}</td>
                <td>{{item.system.rank}}</td>
                <td>{{item.system.spelltype}}</td>
                <td>{{item.system.attribute}}</td>
            </tr>
        {{/each}}
    </table>
</div>
