{{!--
  Context:
  - results
    - items
--}}
<div class="demonlord-compendium-browser-filters">
    <table>
        {{!-- Fields info --}}
        <tr>
            <th></th>
            <th>{{localize 'DL.CompendiumBrowser.Results.Name'}}</th>
            <th>{{localize 'DL.CompendiumBrowser.Results.Source'}}</th>
            <th>{{localize 'DL.CompendiumBrowser.Results.Tradition'}}</th>
            <th>{{localize 'DL.CompendiumBrowser.Results.Rank'}}</th>
            <th>{{localize 'DL.CompendiumBrowser.Results.Type'}}</th>
            <th>{{localize 'DL.CompendiumBrowser.Results.Attribute'}}</th>

        </tr>

        {{#each items as |item|}}
            <tr>
                <td><img src="{{item.img}}" alt="{{item.name}}"></td>
                <td>{{item.name}}</td>
                <td>{{item.system.source}}</td>
                <td>{{item.system.tradition}}</td>
                <td>{{item.system.rank}}</td>
                <td>{{item.system.type}}</td>
                <td>{{item.system.attribute}}</td>
            </tr>
        {{/each}}
    </table>
</div>
