{{!--
  Context:
  - results
    - items
--}}
<div class="demonlord-compendium-browser-results scrollable {{#if (eq search.type 'creaturerole')}}active{{/if}}">
    <table>
        {{!-- Fields info --}}
        <tr>
            <th></th>
            <th class="sortable {{#if (eq search.sortColumn 'name')}}{{search.sortType}}{{/if}}" data-sort-property="name">{{localize 'DL.CreatureName'}}</th>
            <th class="sortable {{#if (eq search.sortColumn 'system.source')}}{{search.sortType}}{{/if}}" data-sort-property="system.source">{{localize 'DL.Source'}}</th>

        </tr>

        {{#each results as |item|}}
            <tr data-item-id="{{item.uuid}}">
                <td><img src="{{item.img}}" alt="{{item.name}}"></td>
                <td class="clickable" data-action="editItem">{{item.name}}</td>
                <td>{{item.system.source}}</td>
            </tr>
        {{/each}}
    </table>
</div>
