  {{!--
  Context:
  - search
    - text
    - type
--}}
<aside class="demonlord-compendium-browser-search">

  <input name="search.text" type="text" value="{{search.text}}" placeholder="{{localize 'DL.CreatureName'}}" />

  <select class="input-group-dropdown search-type" name="search.type" data-tippy-content="{{localize 'DL.SearchType'}}">
    {{selectOptions typeOptions selected=search.type blank="" localize=true}}
  </select>

  <multi-select name="search.sources" value="{{search.sources}}" placeholder="{{localize 'DL.Source'}}">
    {{selectOptions sourcesOptions selected=search.sources localize=false multiple=true}}
  </multi-select>

  <div class="input-group" data-tippy-content="{{localize 'DL.CompendiumBrowserSearch.IncludeLocal'}}">
    <input type="checkbox" name="search.includeLocal" {{checked search.includeLocal}}>
    <span class="sep"></span>
    <span class="text">{{localize 'DL.CompendiumBrowserSearch.IncludeLocal'}}</span>
  </div>

  <button type="submit">{{localize 'DL.Search'}}</button>
</aside>
