  {{!--
  Context:
  - search
    - text
    - type
--}}
<aside class="demonlord-compendium-browser-search">

  <input name="search.text" type="text" value="{{search.text}}" placeholder="{{localize 'DL.CreatureName'}}" />

  <select class="input-group-dropdown search-type" name="search.type" data-tippy-content="{{localize 'DL.SearchType'}}">
    {{selectOptions typeOptions selected=search.type localize=true}}
  </select>

  <multi-select style="width:300px" name="search.sources" value="{{search.sources}}" placeholder="{{localize 'DL.Source'}}">
    {{selectOptions sourcesOptions selected=search.sources localize=false multiple=true}}
  </multi-select>

  <div class="input-group" data-tippy-content="{{localize 'DL.CompendiumBrowserSearch.IncludeLocal'}}">
    <input type="checkbox" name="search.includeLocal" {{checked search.includeLocal}}>
    <span class="sep"></span>
    <span class="text">{{localize 'DL.CompendiumBrowserSearch.IncludeLocal'}}</span>
  </div>

  <div class="input-group" data-tippy-content="{{localize 'DL.CompendiumBrowserSearch.CaseSensitive'}}">
    <input type="checkbox" name="search.caseSensitive" {{checked search.caseSensitive}}>
    <span class="sep"></span>
    <span class="text">{{localize 'DL.CompendiumBrowserSearch.CaseSensitive'}}</span>
  </div>

  <button style="width:300px" type="submit" data-action="search"> <i class="fas fa-magnifying-glass" inert></i> {{localize 'DL.Search'}}</button>
  <button style="width:300px" type="submit" data-action="create"> <i class="fas fa-table-list" inert></i> {{localize 'FOLDER.CreateTable'}}</button>
</aside>
