<form autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="tabitem active" data-tab="ancestries">{{localize "DL.CompendiumBrowser.TabAncestries"}}</a>
        <a class="tabitem" data-tab="paths">{{localize "DL.CompendiumBrowser.TabPaths"}}</a>
        <a class="tabitem" data-tab="spells">{{localize "DL.CompendiumBrowser.TabSpells"}}</a>
        {{#if user.isGM}}
        <a class="tabitem" data-tab="creatures">{{localize "DL.CompendiumBrowser.TabCreatures"}}</a>
        <a class="tabitem" data-tab="characters">{{localize "DL.CompendiumBrowser.TabCharacters"}}</a>
        <a class="tabitem" data-tab="creatureroles">{{localize "DL.CompendiumBrowser.TabCreatureRoles"}}</a>
        {{/if}}
    </nav>
    <section class="sheet-body">
        <section class="sheet-content">

            {{#with ancestries}}
            <div class="tab browser" data-group="primary" data-tab="landing-page">
                {{> "systems/demonlord/templates/dialogs/partial/tab-ancestries.hbs"}}
            </div>
            {{/with}}

            {{#with paths}}
            <div class="tab browser" data-group="primary" data-tab="landing-page">
                {{> "systems/demonlord/templates/dialogs/partial/tab-paths.hbs"}}
            </div>
            {{/with}}

            {{#with spells}}
            <div class="tab browser" data-group="primary" data-tab="landing-page">
                {{> "systems/demonlord/templates/dialogs/partial/tab-spells.hbs"}}
            </div>
            {{/with}}

            {{#if user.isGM}}

            {{#with creatures}}
            <div class="tab browser" data-group="primary" data-tab="landing-page">
                {{> "systems/demonlord/templates/dialogs/partial/tab-creatures.hbs"}}
            </div>
            {{/with}}

            {{#with characters}}
            <div class="tab browser" data-group="primary" data-tab="landing-page">
                {{> "systems/demonlord/templates/dialogs/partial/tab-characters.hbs"}}
            </div>
            {{/with}}

            {{#with creatureroles}}
            <div class="tab browser" data-group="primary" data-tab="landing-page">
                {{> "systems/demonlord/templates/dialogs/partial/tab-creatureroles.hbs"}}
            </div>
            {{/with}}

            {{/if}}
        </section>
    </section>
</form>