<form autocomplete="off">
  <div class="form-block">
    <ol class="creature-list">
      {{#each creatures as |creature id|}}
        <li class="creature-entry combatant actor">
          <div class="header">
            <img class="token-image" src="{{creature.actor.img}}" title="{{creature.token.name}}"/>
            <h3 style="font-weight:bold; border: none">{{creature.token.name}}</h3>
            <div class="headerbody">
              {{localize 'DL.CreatureSize'}} {{creature.actor.system.characteristics.size}}
              {{creature.actor.system.descriptor}}
            </div>
          </div>
          <div class="toggleEffectInfo"><i class="fas fa-angle-right"></i> {{localize "DL.DialogShowEffects"}}</div>
          <div class="effectInfo" style="display: none">
            <ol class="effects">
              {{#each creature.endOfRoundEffects as |endOfRoundEffect id|}}
                <li class="effect" style="margin-bottom: 4px">
                  <div style="font-weight: bold">{{endOfRoundEffect.name}}</div>
                  <div>{{{endOfRoundEffect.system.enrichedDescription}}}</div>
                </li>
              {{/each}}
            </ol>
          </div>
        </li>
      {{/each}}
    </ol>
  </div>
</form>
