<div class="form-block">
  <ol class="creature-list">
    {{#each creatures as |creature id|}}
      <li class="creature-entry combatant actor" data-actor-id="{{creature.actor._id}}">
        <div class="header">
          <img class="token-image" src="{{creature.actor.img}}" title="{{creature.token.name}}"/>
          <h3 style="font-weight:bold; border: none">{{creature.token.name}}</h3>
          <div class="headerbody">
            {{localize 'DL.CreatureSize'}} {{creature.actor.system.characteristics.size}}
            {{creature.actor.system.descriptor}}
          </div>
        </div>
        <div class="toggleEffectInfo" data-action="toggleSpellInfo"><i class="fas fa-angle-right"></i> {{localize "DL.DialogShowEffects"}}</div>
        <div class="effectInfo" style="display: none">
          <ol class="effects">
            {{#each creature.endOfRoundEffects as |endOfRoundEffect id|}}
              <li class="effect">
                <div style="display: flex; align-items: center;" data-item-id="{{endOfRoundEffect._id}}">
                  <img class='dl-clickable-nored item-edit' data-action="editItem" src="{{endOfRoundEffect.img}}" title="{{endOfRoundEffect.name}}" width="15" height="15"/>
                  <label class="dl-clickable item-roll" data-action="rollItem" style="padding-left: 5px;">{{endOfRoundEffect.name}}</label>
                </div>
                <div>{{{endOfRoundEffect.system.enrichedDescription}}}</div>
              </li>
            {{/each}}
          </ol>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
