<div style="height: 0">
  <svg class="svg">
    <clipPath id="assassin-shield-clip-path" clipPathUnits="objectBoundingBox">
      <path
        d="M0,0.474 C0.165,0.396,0.167,0.305,0.083,0.208 L0.129,0.188,0.092,0.148 C0.329,-0.094,0.816,0.005,0.905,0.139 l-0.046,0.027,0.049,0.043 c-0.067,0.086,-0.05,0.172,0.092,0.258 c-0.085,0.173,-0.142,0.342,-0.442,0.532 l-0.065,-0.033,-0.064,0.031 C0.23,0.883,0.086,0.707,0,0.474"
      ></path>
    </clipPath>
  </svg>
</div>

<div class="body" style="margin-top: 5px">
  <h1>{{localize "DL.CharacterTitle"}}</h1>


  <div class="ancestry-paths">
    <div class="row">
      <!--  Ancestry-->
      {{#if actor.ancestry}} {{#each actor.ancestry as |ancestry id|}}
        <div class="col-3 ancestry-edit" data-item-id="{{ancestry._id}}">
          {{#if (isBadgeImg ancestry.img)}}
            <img class="badge" src="{{ancestry.img}}"/>
          {{else}}
            <div class="ancestry-frame">
              <img class="border" src="systems/demonlord/assets/ui/shields/rogue-shield.webp"/>
              <img
                class="icon"
                src="{{ancestry.img}}"
                style="top: 15px; left: -1px; clip-path: polygon(51% 0%, 100% 50%, 52% 100%, 0% 48%)"
              />
            </div>
          {{/if}}
          <div class="type">{{localize 'DL.CharAncestry'}}</div>
          <div class="name">{{ancestry.name}}</div>
        </div>
      {{/each}} {{else}}
        <div class="col-3">
          <div class="ancestry-frame">
            <img class="border gray" src="systems/demonlord/assets/ui/shields/rogue-shield.webp"/>
          </div>
          <div class="type">{{localize 'DL.CharAncestry'}}</div>
          <div class="name"></div>
        </div>
      {{/if}}

      <!--  Paths  -->
      {{#if actor.paths}} {{#each actor.paths as |path id|}}
        <div class="col-3 path-edit" data-item-id="{{path._id}}">
          {{#if (isBadgeImg path.img)}}
            <img class="badge" src="{{path.img}}"/>
          {{else}} {{#if (eq path.system.type "novice")}}
            <div class="path-frame">
              <img class="border-small" src="systems/demonlord/assets/ui/shields/barbarian-shield.webp"/>
              <img
                class="icon"
                src="{{path.img}}"
                style="top: 16px; left: 0px; height: 48px; width: 48px; clip-path: circle(50% at 50% 50%)"
              />
            </div>
          {{/if}} {{#if (eq path.system.type "expert")}}
            <div class="path-frame">
              <img class="border-small" src="systems/demonlord/assets/ui/shields/mage-shield.webp"/>
              <img
                class="icon"
                src="{{path.img}}"
                style="top: 16px; left: 0px; height: 48px; width: 48px; clip-path: circle(50% at 50% 50%)"
              />
            </div>
          {{/if}} {{#if (eq path.system.type "master")}}
            <div class="path-frame">
              <img class="border" src="systems/demonlord/assets/ui/shields/demon-shield.webp"/>
              <img
                class="icon"
                src="{{path.img}}"
                style="top: 19px; left: 0px; height: 42px; width: 42px; clip-path: circle(50% at 50% 50%);"
              />
            </div>
          {{/if}} {{#if (eq path.system.type "legendary")}}
            <div class="path-frame">
              <img class="border-small" src="systems/demonlord/assets/ui/shields/mage-shield.webp"/>
              <img
                class="icon"
                src="{{path.img}}"
                style="top: 16px; left: 0px; height: 48px; width: 48px; clip-path: circle(50% at 50% 50%)"
              />
            </div>
          {{/if}} {{/if}}
          <div class="type">
            {{#if (eq path.system.type "novice")}}{{localize "DL.CharPathNovice"}}{{/if}}
            {{#if (eq path.system.type "expert")}}{{localize "DL.CharPathExpert"}}{{/if}}
            {{#if (eq path.system.type "master")}}{{localize "DL.CharPathMaster"}}{{/if}}
            {{#if (eq path.system.type "legendary")}}{{localize "DL.CharPathLegendary"}}{{/if}}
          </div>
          <div class="name">{{path.name}}</div>
        </div>
      {{/each}} {{else}}
        <div class="col-3">
          <div class="path-frame">
            <img class="border-small gray" src="systems/demonlord/assets/ui/shields/barbarian-shield.webp"/>
          </div>
          <div class="type">{{localize 'DL.TabsPath'}}</div>
          <div class="name"></div>
        </div>
      {{/if}}
    </div>
  </div>

  <h1 style="margin-top: 16px">{{localize "DL.CharDescription"}}</h1>

  <!--  Description-->
  {{#*inline "resourcePartial"}}
    <label class="resource-label" for="{{res}}">{{localize loc}}</label>
    <input
      name="{{res}}"
      type="text"
      value="{{val}}"
      placeholder="{{localize loc}}"
    />
  {{/inline}}

  <div class="char-description">
    <div class="row">
      <div class="col-3">
        {{> resourcePartial res="system.appearance.sex" val=system.appearance.sex loc="DL.CharGender"}}
      </div>
      <div class="col-3">
        {{> resourcePartial res="system.appearance.age" val=system.appearance.age loc="DL.CharAge"}}
      </div>
      <div class="col-6 religion">
        <label class="resource-label" for="system.religion.value">{{localize 'DL.CharReligion'}}</label>
        <input
          name="system.religion.value"
          type="text"
          value="{{system.religion.value}}"
          placeholder="{{localize 'DL.CharReligion'}}"
        />
        <img
          src="{{system.religion.image}}"
          alt="{{system.religion.value}}"
          title="{{localize 'DL.CharReligion'}}"
          data-edit="system.religion.image"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        {{> resourcePartial res="system.appearance.eyes" val=system.appearance.eyes loc="DL.CharEyes"}}
      </div>
      <div class="col-3">
        {{> resourcePartial res="system.appearance.hair" val=system.appearance.hair loc="DL.CharHair"}}
      </div>
      <div class="col-3">
        {{> resourcePartial res="system.appearance.height" val=system.appearance.height loc="DL.CharHeight"}}
      </div>
      <div class="col-3">
        {{> resourcePartial res="system.appearance.weight" val=system.appearance.weight loc="DL.CharWeight"}}
      </div>
    </div>

    <!-- Languages   -->
    <div class="row">
      <div class="col-12 languages">
        <label class="resource-label" for="system.appearance.age">{{localize 'DL.LanguagesTitle'}}</label>
        {{#if actor.languages}}
          <div class="edit">
            <a class="languages-edit" title="{{localize 'DL.LanguagesEdit'}}"><i class="fas fa-edit"></i></a>
          </div>
          {{#if system.languages.edit}} {{#each actor.languages as |language id|}}
            <div class="language" data-item-id="{{language._id}}">
              <div class="languagetitle">{{language.name}} (</div>
              <a class="language-toggle-s">
                {{#if language.system.speak}}
                  <div class="charhighlight" data-tippy-content="{{localize "DL.LanguagesSpeak"}}">
                    <i class="dl-icon-speak black" style="width: 10px; height: 10px; margin-right: 4px"
                       data-tippy-content="{{localize "DL.LanguagesSpeak"}}"></i>
                  </div>
                {{else}}
                  <div class="chardim">
                    <i class="dl-icon-speak gray" style="width: 10px; height: 10px; margin-right: 4px"
                       data-tippy-content="{{localize "DL.LanguagesSpeak"}}"></i>
                  </div>
                {{/if}}
              </a>
              <a class="language-toggle-r">
                {{#if language.system.read}}
                  <div class="charhighlight" data-tippy-content="{{localize "DL.LanguagesRead"}}">
                    <i class="dl-icon-read black" style="width: 10px; height: 10px; margin-right: 4px"
                       data-tippy-content="{{localize "DL.LanguagesRead"}}"></i>
                  </div>
                {{else}}
                  <div class="chardim">
                    <i class="dl-icon-read gray" style="width: 10px; height: 10px; margin-right: 4px"
                       data-tippy-content="{{localize "DL.LanguagesRead"}}"></i>
                  </div>
                {{/if}}
              </a>
              <a class="language-toggle-w">
                {{#if language.system.write}}
                  <div class="charhighlight">
                    <i class="dl-icon-write black" style="width: 10px; height: 10px"
                       data-tippy-content="{{localize "DL.LanguagesWrite"}}"></i>
                  </div>
                {{else}}
                  <div class="chardim">
                    <i class="dl-icon-write gray" style="width: 10px; height: 10px"
                       data-tippy-content="{{localize "DL.LanguagesWrite"}}"></i>
                  </div>
                {{/if}}
              </a>)
              <div class="item-controls">
                <a class="item-control language-delete" title="{{localize 'DL.LanguageDelete'}}"
                ><i class="fas fa-times"></i
                ></a>
              </div>
            </div>
          {{/each}} {{else}} {{#each actor.languages as |language id|}}
            <div class="language">
              <div class="languagetitle">{{language.name}} (</div>
              {{#if language.system.speak}}
                <i class="dl-icon-speak black" style="width: 10px; height: 10px" data-tippy-content="{{localize "DL.LanguagesSpeak"}}"></i>
              {{else}}
                <i class="dl-icon-speak gray" style="width: 10px; height: 10px" data-tippy-content="{{localize "DL.LanguagesSpeak"}}"></i>
              {{/if}}
              {{#if language.system.read}}
                <i class="dl-icon-read black" style="width: 10px; height: 10px" data-tippy-content="{{localize "DL.LanguagesRead"}}"></i>
              {{else}}
                <i class="dl-icon-read gray" style="width: 10px; height: 10px" data-tippy-content="{{localize "DL.LanguagesRead"}}"></i>
              {{/if}}
              {{#if language.system.write}}
                <i class="dl-icon-write black" style="width: 10px; height: 10px" data-tippy-content="{{localize "DL.LanguagesWrite"}}"></i>
              {{else}}
                <i class="dl-icon-write gray" style="width: 10px; height: 10px" data-tippy-content="{{localize "DL.LanguagesWrite"}}"></i>
              {{/if}})
            </div>
          {{/each}} {{/if}} {{else}}
          <input
            name="system.languages.value"
            type="text"
            value="{{data.languages.value}}"
            placeholder="{{localize 'DL.LanguagesTitle'}}"
          />
        {{/if}}
      </div>
    </div>
  </div>

  {{#* inline "dlDropZoneView"}}
    <div class="dl-drop-zone-view {{#if col2}}dl-drop-zone-col-2{{/if}}">
      {{#each collection as |item index|}}
        <div class="dl-nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}"
             {{#if item.system.description}}data-tippy-html="{{item.system.enrichedDescription}}"{{/if}}>
          <img src="{{item.img}}">
          <span class="item-edit dl-clickable">{{item.name}}</span>
          {{#if (dlIsNestedItem item)}}
            <a class="dl-clickable item-delete" style="margin-right: 4px; margin-left: auto; margin-top: 1px;" title="{{dlGetNestedItemSource item}}">
              <i class="fa-solid fa-link"></i>
            </a>          
          {{else}}
            <a class="dl-clickable item-delete" style="margin-right: 4px; margin-left: auto; margin-top: 1px;">
              <i class="fas fa-times"></i>
            </a>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/inline}}

  <!-- TODO: Use .row .col here -->
  <div class="grid grid-2 chardetail">
    <div class="colleft" style="margin-top: -5px">
      <div class="features">
        <div class="header">
          {{localize "DL.FeaturesTitle"}}
          <div class="edit" style="text-align: center">
            <a class="item-control item-create" title="{{localize 'DL.FeatureAdd'}}" data-type="feature">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="body">
          {{> dlDropZoneView collection=actor.features}}
        </div>
      </div>
    </div>
    <div class="colright features">
      <div class="professions">
        <div class="header">
          {{localize "DL.ProfessionsTitle"}}
          <div class="edit" style="text-align: center">
            <a class="item-control item-create" title="{{localize 'DL.ProfessionsAdd'}}" data-type="profession">
              <i class="fas fa-plus"></i>
            </a>
          </div>
        </div>
        <div class="body">
          {{> dlDropZoneView collection=actor.professions}}
        </div>
      </div>
    </div>
  </div>
</div>
