<div class="dl-text-header-upper dl-underline-red dl-item-row-header">
  <div class="col-11">{{localize "DL.WealthTitle"}}</div>
  <div class="col-1">
    <a class="wealth-edit" title="{{localize 'DL.WealthEdit'}}" data-type="feature"><i class="fas fa-edit"></i></a>
  </div>
</div>

<!--TODO REFACTOR -->
<div class="wealth">
  <div class="body">
    <div class="lifestyle">
      <div class="lifestyletitle">{{localize "DL.WealthLifestyle"}}</div>
      {{#if system.wealth.edit}}
        <input type="text" name="system.wealth.lifestyle" value="{{system.wealth.lifestyle}}"/>
      {{else}}
        <label class="resource-label" for="system.wealth.lifestyle">{{system.wealth.lifestyle}}</label>
      {{/if}}
    </div>
    <div class="grid grid-4">
      <div class="coins">
        <div class="cointitle">{{localize "DL.WealthCoinsGC"}}</div>
        {{#if system.wealth.edit}}
          <input type="text" name="system.wealth.gc" value="{{system.wealth.gc}}"/>
        {{else}}
          <label class="resource-label" for="system.wealth.gc">{{system.wealth.gc}}</label>
        {{/if}}
      </div>
      <div class="coins">
        <div class="cointitle">{{localize "DL.WealthCoinsSS"}}</div>
        {{#if system.wealth.edit}}
          <input type="text" name="system.wealth.ss" value="{{system.wealth.ss}}"/>
        {{else}}
          <label class="resource-label" for="system.wealth.ss">{{system.wealth.ss}}</label>
        {{/if}}
      </div>
      <div class="coins">
        <div class="cointitle">{{localize "DL.WealthCoinsCP"}}</div>
        {{#if system.wealth.edit}}
          <input type="text" name="system.wealth.cp" value="{{system.wealth.cp}}"/>
        {{else}}
          <label class="resource-label" for="system.wealth.cp">{{system.wealth.cp}}</label>
        {{/if}}
      </div>
      <div class="coins">
        <div class="cointitle">{{localize "DL.WealthCoinsBits"}}</div>
        {{#if system.wealth.edit}}
          <input type="text" name="system.wealth.bits" value="{{system.wealth.bits}}"/>
        {{else}}
          <label class="resource-label" for="system.wealth.bits">{{system.wealth.bits}}</label>
        {{/if}}
      </div>
    </div>
  </div>
</div>

<!-- CONSUMABLES -->
<div class="dl-text-header-upper dl-underline-red dl-item-row-header">
  <div class="col-7">{{localize "DL.TabsConsumables"}}</div>
  <div class="col-2">{{localize "DL.ItemAmount"}}</div>
  <div class="col-2">{{localize "DL.ItemValue"}}</div>
  <div class="col-1">
    <a class="item-create" title="{{localize 'DL.ItemAddItem'}}" data-type="item"><i class="fas fa-plus"></i></a>
  </div>
</div>

{{#each actor.gear as |item id|}}
  {{#if item.system.consumabletype}}
  <div class="dl-item-row dropitem" data-item-id="{{item._id}}">
    <div class="row">
      <div class="col-7">
        <img class='dl-clickable-nored item-edit' src="{{item.img}}" title="{{item.name}}" width="32"
             height="32"/>
        {{#if item.system.contents.length}}
          <label class="dl-clickable-nored item-roll">{{item.name}} ({{item.system.contents.length}})</label>
        {{else}}
          <label class="dl-clickable-nored item-roll">{{item.name}}</label>
        {{/if}}
        <div class="dl-clickable dlToggleInfoBtn">
          <i class="fas fa-angle-right"></i> {{localize "DL.ItemShowInfo"}}
        </div>
      </div>
      <div class="col-2 item-uses">
        {{item.system.quantity}} <i class="fas fa-arrows-alt-v"></i>
      </div>
      <div class="col-2">
        {{defaultValue system.value "―"}}
      </div>
      <div class="col-1 dl-clickable" style="padding-top: 3px">
        <a class="dl-clickable item-delete" title="{{localize 'DL.ItemDeleteItem'}}"
           style="margin-left: 2px; margin-top: 3px;">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    {{#if item.system.description}}
      <div class="row dlInfo" style="display: none; text-align: left">
        <div class="col-12" style="padding: 2px 4px 4px;">
          {{{item.system.description}}}
        </div>
      </div>
    {{/if}}
  </div>
  {{/if}} 
{{/each}}

<!-- CONTAINERS -->
<div class="dl-text-header-upper dl-underline-red dl-item-row-header">
  <div class="col-7">{{localize "DL.TabsContainers"}}</div>
  <div class="col-2">{{localize "DL.ItemAmount"}}</div>
  <div class="col-2">{{localize "DL.ItemValue"}}</div>
  <div class="col-1">
    <a class="item-create" title="{{localize 'DL.ItemAddItem'}}" data-type="item"><i class="fas fa-plus"></i></a>
  </div>
</div>

{{#each actor.gear as |item id|}}
  {{#unless item.system.consumabletype}}
    {{#if item.system.contents.length}}
      <div class="dl-item-row dropitem" data-item-id="{{item._id}}">
        <div class="row">
          <div class="col-7">
            <img class='dl-clickable-nored item-edit' src="{{item.img}}" title="{{item.name}}" width="32"
                 height="32"/>
              <label class="dl-clickable-nored item-roll">{{item.name}} ({{item.system.contents.length}})</label>
            <div class="dl-clickable dlToggleInfoBtn">
              <i class="fas fa-angle-right"></i> {{localize "DL.ItemShowInfo"}}
            </div>
          </div>
          <div class="col-2 item-uses">
          {{item.system.quantity}} <i class="fas fa-arrows-alt-v"></i>
        </div>
        <div class="col-2">
          {{defaultValue system.value "―"}}
        </div>
        <div class="col-1 dl-clickable" style="padding-top: 3px">
          <a class="dl-clickable item-delete" title="{{localize 'DL.ItemDeleteItem'}}"
             style="margin-left: 2px; margin-top: 3px;">
            <i class="fas fa-times"></i>
          </a>
        </div>
      </div>
      {{#if item.system.description}}
        <div class="row dlInfo" style="display: none; text-align: left">
          <div class="col-12" style="padding: 2px 4px 4px;">
            {{{item.system.description}}}
          </div>
        </div>
      {{/if}}
      </div>
    {{/if}}
  {{/unless}}
{{/each}}

<!-- ITEMS -->
<div class="dl-text-header-upper dl-underline-red dl-item-row-header">
  <div class="col-7">{{localize "DL.TabsItems"}}</div>
  <div class="col-2">{{localize "DL.ItemAmount"}}</div>
  <div class="col-2">{{localize "DL.ItemValue"}}</div>
  <div class="col-1">
    <a class="item-create" title="{{localize 'DL.ItemAddItem'}}" data-type="item"><i class="fas fa-plus"></i></a>
  </div>
</div>

{{#each actor.gear as |item id|}}
{{#unless item.system.consumabletype}}
{{#unless item.system.contents.length}}
  <div class="dl-item-row dropitem" data-item-id="{{item._id}}">
    <div class="row">
      <div class="col-7">
        <img class='dl-clickable-nored item-edit' src="{{item.img}}" title="{{item.name}}" width="32"
             height="32"/>
        {{#if item.system.contents.length}}
          <label class="dl-clickable-nored item-roll">{{item.name}} ({{item.system.contents.length}})</label>
        {{else}}
          <label class="dl-clickable-nored item-roll">{{item.name}}</label>
        {{/if}}
        <div class="dl-clickable dlToggleInfoBtn">
          <i class="fas fa-angle-right"></i> {{localize "DL.ItemShowInfo"}}
        </div>
      </div>
      <div class="col-2 item-uses">
        {{item.system.quantity}} <i class="fas fa-arrows-alt-v"></i>
      </div>
      <div class="col-2">
        {{defaultValue system.value "―"}}
      </div>
      <div class="col-1 dl-clickable" style="padding-top: 3px">
        <a class="dl-clickable item-delete" title="{{localize 'DL.ItemDeleteItem'}}"
           style="margin-left: 2px; margin-top: 3px;">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    {{#if item.system.description}}
      <div class="row dlInfo" style="display: none; text-align: left">
        <div class="col-12" style="padding: 2px 4px 4px;">
          {{{item.system.description}}}
        </div>
      </div>
    {{/if}}
  </div>
  {{/unless}}
  {{/unless}}
{{/each}}

<!-- RELICS -->
<div class="dl-text-header-upper dl-underline-red dl-item-row-header">
  <div class="col-11">{{localize "DL.TabsRelics"}}</div>
  <div class="col-1">
    <a class="item-create" title="{{localize 'DL.ItemAddRelic'}}" data-type="relic"><i class="fas fa-plus"></i></a>
  </div>
</div>

{{#each actor.relics as |item id|}}
  <div class="dl-item-row dropitem" data-item-id="{{item._id}}">
    <div class="row">
      <div class="col-11">
        <img class='dl-clickable item-edit' src="{{item.img}}" title="{{item.name}}" width="32"
             height="32"/>
        <label class="dl-clickable item-roll">{{item.name}}</label>
        <div class="dl-clickable dlToggleInfoBtn">
          <i class="fas fa-angle-right"></i> {{localize "DL.ItemShowInfo"}}
        </div>
      </div>
      <div class="col-1 dl-clickable" style="padding-top: 3px">
        <a class="dl-clickable item-delete" title="{{localize 'DL.ItemDeleteRelic'}}"
           style="margin-left: 2px; margin-top: 3px;">
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    {{#if item.system.description}}
      <div class="row dlInfo" style="display: none; text-align: left">
        <div class="col-12" style="padding: 2px 4px 4px;">
          {{{item.system.description}}}
        </div>
      </div>
    {{/if}}
  </div>
{{/each}}
