{{!--
  Variables:
    - action (e.g. system.action)
      - attack
      - against
      - boonsbanes
      - damage
      - damagetype
      - damagetypes
      - plus20damage

      - defense
      - defenseboonsbanes
    - action.id (e.g. "system.action")
--}}
<div class="dl-item-section-section margin">
  <div>
    <b>{{localize "DL.AttackRoll"}}</b>
    <div>
      {{dlDropdown (concat actionId ".attack") action.attack}}
      <span style="font-size: 11px">VS</span>
      {{dlDropdown (concat actionId ".against") action.against}}
      {{dlBOBAButton (concat actionId ".boonsbanes") action.boonsbanes ""}}
    </div>
  </div>
  <div>
    <b>{{localize "DL.WeaponDamage"}}</b>
    <div class="dl-item-damage-container">
      <div>
        <div class="dl-new-project-2 nohover">
          <i class="dl-icon-d20"></i>
          <span class="sep"></span>
          <input type="text" name="{{actionId}}.damage" value="{{action.damage}}" data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize />
          <span class="sep"></span>
          <input type="text" name="{{actionId}}.damagetype" value="{{action.damagetype}}" data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize />
        </div>
        <a class="dl-clickable damagetype-control" style="align-self: center;" data-tippy-content="{{localize "DL.DamageAddType"}}" data-action="create">
          <i class="fas fa-plus"></i>
        </a>
      </div>
      {{#each action.damagetypes as |damagetype id|}}
      <div>
        <div class="dl-new-project-2 nohover">
          <i class="dl-icon-d20"></i>
          <span class="sep"></span>
          <input type="text" name="altdamage" value="{{damagetype.damage}}" data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize />
          <span class="sep"></span>
          <input type="text" name="altdamagetype" value="{{damagetype.damagetype}}" data-tippy-content="{{localize "DL.ActionTargetType"}}" placeholder="-" autosize />
        </div>
        <a class="item-control damagetype-control" data-tippy-content="{{localize 'DL.DamageDeleteType'}}"
          data-action="delete" data-id="{{id}}">
          <i class="fas fa-times"></i>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
  <div>
    <b>{{localize "DL.WeaponAttack20"}}</b>
    <div>
      <div class="dl-new-project-2 nohover">
        <i class="dl-icon-d20-plus"></i>
        <span class="sep"></span>
        <input type="text" name="{{actionId}}.plus20damage" value="{{action.plus20damage}}"
          data-tippy-content="{{localize "DL.DamageRollText"}} [xdY+z]" placeholder="-" autosize />
      </div>
    </div>
  </div>
</div>