{{!-- 
    Variables:
    - item
    - placeholderName (e.g. "Ancestry Name")
    - isEditable
    - isGM
    - edit
    - editId (e.g. "system.editAncestry")
 --}}
<header class="sheet-header itemsheet-header">
<img class="weapon-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
<div class="header-fields">
    <div class="gridrow">
    <input name="name" type="text" value="{{item.name}}" placeholder="{{placeholderName}}"/>
    </div>
</div>
<div class="template-type">{{item.type}}</div>
{{#if isEditable}}
    {{#if (or isGM isOwner)}}
        <div class="togglegm">
        <label class="switchBig">
            <input type="checkbox" id="{{editId}}" name="{{editId}}" {{checked edit}} />
        <div class="slider round">
            <span class="on">{{localize "DL.ButtonEdit"}}</span>
            <span class="off">{{localize "DL.ButtonView"}}</span>
        </div>
        </label>
        </div>
    {{/if}}
{{/if}}
</header>