<aside class="demonlord-v2-actor-sheet-container demonlord-v2-actor-sheet-sidebar-container {{#unless system.isPC}}npc{{/unless}}">
  <div class="sidebar" data-group="dashboard" data-tab="sidebar">

  {{#if (gte ownership 2)}}
  <div class="switch-toggle pc-toggle">
    <label class="switch" for="{{concat actor.id}}.isPC">
      <input class="toggleInput" type="checkbox" id="{{concat actor.id}}.isPC" name="system.isPC" {{checked system.isPC}}/>
      <div class="toggleFill"></div>
      <span class="toggleText off">{{localize "DL.ActorTypeNPC"}}</span>
      <span class="toggleText on">{{localize 'DL.ActorTypePC'}}</span>
    </label>
  </div>
  {{/if}}

  <div class="frame {{#unless system.isPC}}frame-npc{{/unless}}">
    <img class="profile-img" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}" data-action="editImage"
      data-edit="img" />
  </div>

  {{#if (and system.characteristics.health.injured (gte ownership 2))}}
    <div class="injured-overlay"></div>
  {{/if}}

  <div class="sidebar-button rest" data-action="restCharacter" data-tippy-html="{{localize 'DL.RestAction'}}">
    <input class="rest-char button" type="button" name="rest-char" id="rest-char" />
    <image class="rest-icon"/>
    <label for="rest-char"/>
  </div>

  <div class="sidebar-button healingratebox" style="cursor: pointer" data-tippy-html="{{localize 'DL.CharHealthHealingRating'}}">
    <div class="healingrate">{{ifThen (gte ownership 2) system.characteristics.health.healingrate '?'}}</div>
  </div>

    {{#if (gte ownership 2)}}
    <div class="editBars">
      <a class="bar-edit" data-action="editStatBar" title="{{localize 'DL.ToggleBarView'}}"><i class="fas fa-edit"></i></a>
    </div>
    {{/if}}

    {{#if system.characteristics.editbar}}
    <div class="barboxes">
      <div class="barbox">
        <div class="healthtext">{{localize "DL.TalentDamage"}}</div>
        <div class="healthedit">
          <input name="system.characteristics.health.value" type="number" value="{{system.characteristics.health.value}}"
            placeholder="{{system.characteristics.health.value}}" style="color: white; border: none; box-shadow: none"
            min="{{system.characteristics.health.min}}" max="{{system.characteristics.health.max}}" />
        </div>
      </div>
      <div class="barbox">
        <div class="insanitytext">{{localize "DL.CharInsanity"}}</div>
        <div class="insanityedit">
          <input name="system.characteristics.insanity.value" type="number" value={{ifThen
            system.characteristics.insanity.immune '-' system.characteristics.insanity.value}} placeholder={{ifThen
            system.characteristics.insanity.immune '-' system.characteristics.insanity.value}}
            style="color: white; border: none; box-shadow: none" min="{{system.characteristics.insanity.min}}"
            max="{{system.characteristics.insanity.max}}" {{disabled system.characteristics.insanity.immune}} />
        </div>
      </div>
      <div class="barbox">
        <div class="corruptiontext">{{localize "DL.CharCorruption"}}</div>
        <div class="corruptionedit">
          <input name="system.characteristics.corruption.value" type="number" value={{ifThen
            system.characteristics.corruption.immune '-' system.characteristics.corruption.value}} placeholder={{ifThen
            system.characteristics.corruption.immune '-' system.characteristics.corruption.value}}
            style="color: white; border: none; box-shadow: none" min="0" {{disabled
            system.characteristics.corruption.immune}} />
        </div>
      </div>
    </div>
    {{else}}
    <div class="stat-bar health">
      <div class="addDamage">{{localize "DL.TalentDamage"}}</div>
      <div class="healthbar">
        {{#if (gte ownership 2)}}
        <span class="healthbar-fill"></span>
        {{else}}
        <span class="healthbar-empty"></span>
        {{/if}}
      </div>
      <div class="healtmax">{{ifThen (gte ownership 2) system.characteristics.health.max '?'}}</div>
      <div class="damage">{{ifThen (gte ownership 2) system.characteristics.health.value '?'}}</div>
    </div>
    <div class="stat-bar insanity">
      <div class={{ifThen (or system.characteristics.insanity.immune (lt ownership 2)) "Insanity" "addInsanity" }}>{{localize "DL.CharInsanity"}}
      </div>
      <div class="healthbar">
        <span class={{ifThen (or system.characteristics.insanity.immune (lt ownership 2)) "insanity-empty" "insanity-fill" }}></span>
      </div>
      {{#unless system.characteristics.insanity.immune}}
      <div class="insanitymax">{{ifThen (gte ownership 2) system.characteristics.insanity.max '?'}}</div>
      <div class="insanityvalue">{{ifThen (gte ownership 2) system.characteristics.insanity.value '?'}}</div>
      {{else}}
      <div class="insanitymiddle">–</div>
      {{/unless}}
    </div>
    <div class="stat-bar corruption">
      <div class={{ifThen (or system.characteristics.corruption.immune (lt ownership 2)) "Corruption" "addCorruption" }}>{{localize
        "DL.CharCorruption"}}</div>
      <div class="healthbar">
        <span class={{ifThen (or system.characteristics.corruption.immune (lt ownership 2)) "corruption-empty" "corruption-fill" }}></span>
      </div>
      {{#unless system.characteristics.corruption.immune}}
      <div class="corruptionmax">{{ifThen (gte ownership 2) 20 '?'}}</div>
      <div class="corruptionvalue">{{ifThen (gte ownership 2) system.characteristics.corruption.value '?'}}</div>
        {{#if (gte ownership 2)}}
        <a class="corruption-roll" data-action="rollCorruption" title="{{localize 'DL.CharRolCorruption'}}"><i
          class="fas fa-dice-d20"></i></a>
        {{/if}}
      {{else}}
      <div class="corruptionmiddle">–</div>
      {{/unless}}
    </div>
    {{/if}}

    <div class="char-stats">
      <div class="stat-box defensebox">
        <div class="text defensetext">{{localize "DL.AttributeDefense"}}</div>
        <div class="value defense">{{ifThen (gte ownership 2) system.characteristics.defense '?'}}</div>
      </div>
      <div class="stat-box powerbox">
        <div class="text powertext">{{localize "DL.CharPower"}}</div>
        <div class="value power">{{ifThen (gte ownership 2) system.characteristics.power '?'}}</div>
      </div>
      <div class="stat-box sizebox">
        <div class="text speedtext">{{localize "DL.CharSize"}}</div>
        <div class="value size">{{ifThen (gte ownership 2) system.characteristics.size '?'}}</div>
      </div>
      <div class="stat-box speedbox">
        <div class="text speedtext">{{localize "DL.CharSpeed"}}</div>
        <div class="value speed">{{ifThen (gte ownership 2) system.characteristics.speed '?'}}</div>
      </div>
    </div>

    {{#if (gte ownership 2)}}
    <div class="char-toggles">

      <div class="fortune">
        <div class="switch-toggle fortune-toggle">
          <label class="switch" for="{{actor.id}}.fortune">
            <input class="toggleInput" type="checkbox" id="{{actor.id}}.fortune" name="system.characteristics.fortune" {{checked system.characteristics.fortune}} />
            <div class="toggleFill"></div>
            <span class="toggleText off">{{localize 'DL.CharFortune'}}</span>
            <span class="toggleText on">{{localize 'DL.CharFortune'}}</span>
          </label>
        </div>
      </div>

      <div class="turnmode">
        <div class="switch-toggle turn-toggle">
          <label class="switch" for="{{actor.id}}.fastturn">
            <input class="toggleInput" type="checkbox" id="{{actor.id}}.fastturn" name="system.fastturn" {{checked system.fastturn}}
            {{disabled system.maluses.noFastTurn}}/>
            <div class="toggleFill"></div>
            <span class="toggleText off">{{localize 'DL.TurnSlowButton'}}</span>
            <span class="toggleText on">{{localize 'DL.TurnFastButton'}}</span>
          </label>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</aside>
