<aside class="demonlord-v2-actor-sheet-container demonlord-v2-actor-sheet-sidebar-container creature">
  <div class="sidebar" data-group="dashboard" data-tab="sidebar">

    <div class="frame frame-creature">
      <img class="profile-img img-cre" alt="{{actor.name}}" src="{{actor.img}}" title="{{actor.name}}"
        data-edit="img" />
    </div>
    {{#if system.characteristics.health.injured}}
    <div class="injured-overlay"></div>
    {{/if}}

    <div class="sidebar-button frightening">
      <label>
        <input type="checkbox" name="system.frightening" id="system.frightening" {{checked system.frightening}} />
      </label>
      <div class="resttext">{{localize "DL.CreatureFrightening"}}</div>
    </div>

    <div class="sidebar-button horrifying">
      <label>
        <input type="checkbox" name="system.horrifying" id="system.horrifying" {{checked system.horrifying}}>
      </label>
      <div class="resttext">{{localize "DL.CreatureHorrifying"}}</div>
    </div>

    <div class="char-stats">

      <div class="stat-box">
        <div class="speedtext">{{localize "DL.TalentDamage"}}</div>
          <input class="value" name="system.characteristics.health.value" type="number"
            value="{{system.characteristics.health.value}}" data-dtype="Number" placeholder="" />
      </div>

      <div class="stat-box">
        <div class="speedtext">{{localize "DL.CreatureHealth"}}</div>
          <input class="value" name="system.characteristics.health.max" type="number" value="{{system.characteristics.health.max}}"
            data-dtype="Number" placeholder="" />
      </div>

      <div class="stat-box">
        <div class="speedtext">{{localize "DL.AttributeDefense"}}</div>
        <input class="value" name="system.characteristics.defense" type="number"
            value="{{system.characteristics.defense}}" data-dtype="Number" placeholder="" />
      </div>

      <div class="stat-box">
        <div class="speedtext">{{localize "DL.CharPower"}}</div>
        <input class="value" name="system.characteristics.power" type="number"
            value="{{system.characteristics.power}}" data-dtype="Number" placeholder="" />
      </div>

      <div class="stat-box">
        <div class="speedtext">{{localize "DL.CharSize"}}</div>
        <input class="value" name="system.characteristics.size" type="text" value="{{system.characteristics.size}}"
            data-dtype="String" placeholder="" />
      </div>

      <div class="stat-box">
        <div class="speedtext">{{localize "DL.CharSpeed"}}</div>
        <input class="value" name="system.characteristics.speed" type="number"
            value="{{system.characteristics.speed}}" data-dtype="Number" placeholder="" />
      </div>

      <div class="stat-box characteristic">
        <div class="speedtext name" data-key="insanity">{{localize "DL.CreatureInsanity"}}</div>
          <input class="value" name="system.characteristics.insanity.value" type="{{ifThen system.characteristics.insanity.immune "Text" "number" }}"
          value="{{ifThen system.characteristics.insanity.immune "-"
          system.characteristics.insanity.value}}" data-dtype="Number" {{disabled
          system.characteristics.insanity.immune}} />
      </div>

      <div class="stat-box characteristic">
        <div class="speedtext name" data-key="corruption">{{localize "DL.CreatureCorruption"}}</div>
          <input class="value" name="system.characteristics.corruption.value" type="{{ifThen system.characteristics.corruption.immune
          "Text" "number" }}" value="{{ifThen system.characteristics.corruption.immune "-"
          system.characteristics.corruption.value}}" data-dtype="Number" {{disabled
          system.characteristics.corruption.immune}} />
      </div>
    </div>
  <div class="armor">
    <input name="system.armor" type="text" value="{{system.armor}}" data-dtype="String"
      placeholder="{{localize 'DL.CreatureArmor'}}" />
  </div>
  <div class="speedtraits">
    <input name="system.speedtraits" type="text" value="{{system.speedtraits}}" data-dtype="String"
      placeholder="{{localize 'DL.CreatureSpeedTraits'}}" />
  </div>
  {{#unless hideTurnMode}}
  <div class="turnmode">
    <label class="switchTurn">
      <input type="checkbox" id="system.fastturn" name="system.fastturn" {{checked system.fastturn}} {{disabled
        system.maluses.noFastTurn}}>
      <div class="slider round">
        <span class="on">{{localize "DL.TurnFastButton"}}</span>
        <span class="off">{{localize "DL.TurnSlowButton"}}</span>
      </div>
    </label>
  </div>
  {{/unless}}
  </div>
  <div class="dl-side-tab-container">
    {{#each actor.roles}}
    <div class="dl-side-tab role-edit" data-item-id="{{this.id}}">
      {{this.name}}
    </div>
    {{/each}}
  </div>
</aside>