<div class="demonlord-v2-actor-sheet-container demonlord-v2-actor-sheet-header-container">
  <header class="demonlord-v2-actor-sheet-header">
  <div class="header-fields">
    <div class="header-name">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'DL.CharName'}}"/>
    </div>
    <div class="header-price">
      <label for="system.price">{{localize "DL.VehiclePrice"}}</label>
      {{!-- The next field is dependent on actor ownership --}}
      <input class="value" name="system.price" type="text"
      value="{{ifThen (gte ownership 2) system.price '?'}}"/>
    </div>
  </div>

  <div class="header-fields creature-descriptors">
      <input name="system.descriptor"
      {{!-- The next field is dependent on actor ownership --}}
      value="{{ifThen (gte ownership 2) system.descriptor ''}}"
      placeholder="{{localize 'DL.CreatureDescriptor'}}"/>
  </div>

  <div class="header-fields attribute-fields">
    {{#*inline "attribute-partial"}}
      <div class="attribute">
        <label class="name" data-key="{{n}}" for="system.attributes.{{n}}.value">{{attr.label}}</label>
        <div class="value-container">
          <input class="value display-value" {{!-- The next two fields are dependent on actor ownership and attribute immunity --}}
          value="{{ifThen attr.immune "-" (ifThen (gte ownership 2) attr.value '?')}}" readonly/>
          <input class="value has-base" type="{{ifThen attr.immune "text" "Number"}}" name="system.attributes.{{n}}.base"
            value="{{ifThen attr.immune "-" attr.base}}" {{disabled attr.immune}}/>
        </div>
        {{#unless (or attr.immune (lt ownership 2))}}
          <label class="modifier">{{plusify attr.modifier}}</label>
        {{/unless}}
      </div>
    {{/inline}}

    {{> attribute-partial attr=system.attributes.strength    n='strength'}}
    {{> attribute-partial attr=system.attributes.agility     n='agility'}}
    {{> attribute-partial attr=system.attributes.intellect   n='intellect'}}
    {{> attribute-partial attr=system.attributes.will        n='will'}}
  </div>
  </header>
</div>
