<!-- START OF TEMPLATES -->
{{#*inline "AttributeViewer"}}
  {{#if (or mandatory value)}}
  <div class="item-group-attribute-value display-only" data-tippy-content="{{localize loc}}">
    <i class="icon-{{icon}} themed-icon"></i>
    <span class="sep"></span>
    <span class="text">{{ifThen immune '-' (ifThen noPlusify value (plusify value))}}</span>
  </div>
  {{/if}}
{{/inline}}

{{#* inline "DropZoneView"}}
  <div class="drop-zone-view" data-group="{{dataGroup}}">
    {{#each collection as |item index|}}
      <div class="nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}" {{#if item.system.enrichedDescriptionUnrolled}}data-tippy-html="{{item.system.enrichedDescriptionUnrolled}}"{{/if}}>
        <img src="{{item.img}}">
        <span class="edit-nested-item dl-clickable" data-action="editNestedItem">{{item.name}}</span>
        {{#if ../selectable}}
          <div style="margin-right: 1px;margin-left: auto; align-self: center"
               data-action="transferItem"
               class="dl-custom-checkbox dl-item-transfer {{#if item.selected}}checked{{/if}}"
               data-tippy-content="{{localize "DL.TransferItem"}}"></div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/inline}}
<!-- END OF TEMPLATES -->

<div class="dl-item-section-header">
  <b>{{item.name}}</b>
</div>
<hr>

<!-- STARTING ATTRIBUTES  -->
<div class="dl-item-section">
  <b>{{localize "DL.Attributes"}}</b>
  <div class="role-attributes-container">
    {{> AttributeViewer icon='strength' value=system.attributes.strength immune=system.attributes.strengthImmune loc='DL.AttributeStrength' mandatory=true}}
    {{> AttributeViewer icon='agility' value=system.attributes.agility immune=system.attributes.agilityImmune loc='DL.AttributeAgility' mandatory=true}}
    {{> AttributeViewer icon='intellect' value=system.attributes.intellect immune=system.attributes.intellectImmune loc='DL.AttributeIntellect' mandatory=true}}
    {{> AttributeViewer icon='will' value=system.attributes.will immune=system.attributes.willImmune loc='DL.AttributeWill' mandatory=true}}
  </div>
</div>

<hr>

<!-- CHARACTERISTICS MODIFIER  -->
<div class="dl-item-section">
    <b>{{localize "DL.WeaponModifiers"}}</b>
  <div class="characteristics-container">
    {{> AttributeViewer icon='health' value=system.characteristics.healthmodifier loc='DL.CharHealth'}}
    {{> AttributeViewer icon='healing' value=system.characteristics.healingratemodifier loc='DL.CharHealthHealingRating'}}
    {{> AttributeViewer icon='size' value=system.characteristics.size loc='DL.CharSize'}}
    {{> AttributeViewer icon='defense' value=system.characteristics.defensemodifier loc='DL.AttributeDefense'}}
    {{> AttributeViewer icon='perception' value=system.characteristics.perceptionmodifier loc='DL.AttributePerception'}}
    {{> AttributeViewer icon='speed' value=system.characteristics.speed loc='DL.CharSpeed'}}
    {{> AttributeViewer icon='insanity' value=system.characteristics.insanity loc='DL.CharInsanity'}}
    {{> AttributeViewer icon='corruption' value=system.characteristics.corruption loc='DL.CharCorruption'}}
    {{> AttributeViewer icon='power' value=system.characteristics.power loc='DL.CharPower'}}
    {{> AttributeViewer icon='difficulty' value=system.difficulty loc='DL.CreatureDifficulty'}}
    {{#if system.frightening}}
      <div class="item-group-attribute-value display-only" data-tippy-content="{{localize 'DL.IsFrightening'}}">
        <i class="icon-frightening themed-icon"></i>
        <span class="sep"></span>
        <span class="text">{{localize 'DL.CreatureFrightening'}}</span>
      </div>
    {{/if}}
    {{#if system.horrifying}}
      <div class="item-group-attribute-value display-only" data-tippy-content="{{localize 'DL.IsHorrifying'}}">
        <i class="icon-horrifying themed-icon"></i>
        <span class="sep"></span>
        <span class="text">{{localize 'DL.CreatureHorrifying'}}</span>
      </div>
    {{/if}}
  </div>
</div>

<hr>

<div class="drop-zones-container">
  {{#if system.talents.length}}
  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.TalentTitle"}}</b>
    </div>
    {{> DropZoneView collection=system.talents dataGroup="talents"}}
  </div>
  {{/if}}

  {{#if system.weapons.length}}
  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.WeaponTitle"}}</b>
    </div>
    {{> DropZoneView collection=system.weapons dataGroup="weapons"}}
  </div>
  {{/if}}

  {{#if system.spells.length}}
  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.MagicSpellsTitle"}}</b>
    </div>
    {{> DropZoneView collection=system.spells dataGroup="spells"}}
  </div>
  {{/if}}

  {{#if system.endOfRound.length}}
  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.CreatureSpecialEndRound"}}</b>
    {{> DropZoneView collection=system.endOfRound dataGroup="endOfRound"}}
  </div>
  {{/if}}
</div>