<form class="{{cssClass}} item-form dl-item-form" autocomplete="off">
  {{> "systems/demonlord/templates/item/partial/item-sheet-header.hbs" item=item placeholderName="Language Name"}}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    {{#if effects}}<a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>{{/if}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      <div class="tab weapons" data-group="primary" data-tab="attributes">

        <div class="dl-item-section-header row">
          <div class="col-12" style="margin-top: 4px">
            <b>{{item.name}}</b>
          </div>
        </div>
        <hr>


        <div class="dl-item-section-section margin">
          {{#*inline "dlLangType"}}
            <div class="dl-new-project-2 selectable {{#if selected}}selected{{/if}}">
              <input type="checkbox" name="system.{{name}}" {{checked selected}} />
              <i class="dl-icon-{{name}}"></i>
              <span class="sep"></span>
              <span style="width: 64px; text-align: center; text-overflow: ellipsis; height: 16px">{{localize loc}}</span>
            </div>
          {{/inline}}

          <div class="dl-column-flex" style="padding: 0 15%">
            {{> dlLangType name="speak" selected=system.speak loc="DL.LanguagesSpeak"}}
            {{> dlLangType name="read"  selected=system.read  loc="DL.LanguagesRead"}}
            {{> dlLangType name="write" selected=system.write loc="DL.LanguagesWrite"}}
          </div>
        </div>
        <hr>

        {{#if system.description}}
          <div class="dl-item-section-description">
            <div><b>{{localize "DL.TabsDescription"}}</b></div>
            <div>
              {{{system.enrichedDescription}}}
            </div>
          </div>
        {{/if}}

      </div>
      {{> "systems/demonlord/templates/item/partial/item-description.hbs"}}
      {{#if effects}}{{> "systems/demonlord/templates/item/partial/item-effects.hbs"}}{{/if}}
    </section>
  </section>
</form>
