<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="weapon">

  <div class="dl-item-section-header">
    <b>{{item.name}}</b>
  </div>
  <hr>

  {{> 'systems/demonlord/templates/item/partial/item-attacks.hbs' action=system.action actionId='system.action'}}

  <hr>

  {{> 'systems/demonlord/templates/item/partial/item-challenge.hbs' action=system.action actionId='system.action'}}

  <hr>

  <div class="dl-item-section item-properties">
    <b>{{localize 'DL.Requirements'}}</b>
    {{DropdownValue "system.requirement.attribute" system.requirement.attribute "system.requirement.minvalue" system.requirement.minvalue }}
  </div>

  <div class="dl-item-section item-properties">
    <b>{{localize 'DL.WeaponHands'}}</b>
    <div class="item-group-weapon-hands">
      <div class="input-group">
        <select class="input-group-dropdown" name="system.hands">
            {{selectOptions config.weaponHandsTypes selected=system.hands blank="—" localize=true}}
        </select>
      </div>
    </div>
  </div>

  <div class="dl-item-section item-properties">
    <b>{{localize 'DL.WeaponProperties'}}</b>
    <input type="text" class="item-properties-textbox" name="system.properties" placeholder="―" value="{{system.properties}}">
  </div>

  <hr>

  <div class="dl-item-section item-properties">
    <b>{{localize 'DL.AmmoTitle'}}</b>
    <div class="item-group-ammo-required checkable" data-action="toggleAmmoRequired" data-tippy-content="{{localize 'DL.WeaponAmmoRequired'}}">
      <input type="checkbox" name="system.consume.ammorequired" {{checked system.consume.ammorequired}} />
      <i class="icon-ammo themed-icon"></i>
    </div>
  </div>
  {{#if (dlCheckItemOnActor system.parent.uuid)}}
  {{#if system.consume.ammorequired}}
  <div class="dl-item-section item-properties">
    <b>{{localize 'DL.WeaponResourceComsumption'}}</b>
    <div class="dl-item-section-group">
      <div class="item-group-amount">
        <div class="input-group" data-tippy-content="{{localize "DL.ItemAmount"}}">
          <i class="icon-amount themed-icon"></i>
          <span class="sep"></span>
          <input type="number" class="input-group-textbox" name="system.quantity" value="{{system.quantity}}" placeholder="0" />
        </div>
      </div>
      {{AmmoDropdown 'system.consume.ammoitemid' system.consume.ammoitemid system}}
    </div>
  </div>
  {{/if}}
  {{/if}}

  <hr>

  {{> 'systems/demonlord/templates/item/partial/item-description.hbs' description=system.description enrichedDescription=system.enrichedDescription}}

  {{> 'systems/demonlord/templates/item/partial/item-availability.hbs' availability=system.availability availabilityName='system.availability' value=system.value valueName='system.value'}}

  {{> 'systems/demonlord/templates/item/partial/item-measured-template.hbs'}}
</div>