<form class="{{cssClass}} item-form dl-item-form" autocomplete="off">
  {{> "systems/demonlord/templates/item/partial/item-sheet-header.hbs" item=item placeholderName="{{localize 'DL.SpellName'}}"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">{{localize "DL.TabsAttributes"}}</a>
    <a class="item" data-tab="description">{{localize "DL.TabsDescription"}}</a>
    {{#if effects}}<a class="item" data-tab="effects">{{localize "DL.TabsEffects"}}</a>{{/if}}
    {{!-- <a class="item" data-tab="activated-effect">{{localize "DL.TabsActivatedEffect"}}</a> --}}
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <section class="sheet-content">
      <div class="tab attributes" data-group="primary" data-tab="attributes">

        <!-- Header -->
        <div class="dl-item-section-header flex">
          <div>
            <b>{{item.name}}</b>
          </div>

          <input name="system.tradition" value="{{system.tradition}}" placeholder="{{localize 'DL.MagicTradition'}}"
                 autosize/>
          <div class="select-wrapper">
            <select name="system.spelltype" style="height: 28px; padding-top: 2px">
              {{#select system.spelltype}}
                <option value="">—</option>
                <option value="Attack">{{localize "DL.SpellTypeAttack"}}</option>
                <option value="Utility">{{localize "DL.SpellTypeUtility"}}</option>
              {{/select}}
            </select>
          </div>
          <input name="system.rank" type="number" value="{{system.rank}}" placeholder="{{localize 'DL.SpellRank'}}"
                 style="padding: 4px" data-tippy-content="{{localize "DL.SpellRank"}}"
                 autosize/>
        </div>

        <hr>

        <div class="dl-item-section-section margin">
          <div>
            <b>{{localize "DL.SpellAttribute"}}</b>
            <div>
              {{dlDropdown "system.attribute" system.attribute}}
            </div>
          </div>
          <div>
            <b>{{localize "DL.SpellCastings"}}</b>
            <div>
              <div class="dl-new-project-2 nohover">
                <input type="number" name="system.castings.value" value="{{system.castings.value}}"
                       data-tippy-content="{{localize "DL.SpellCastingsUses"}}" placeholder="-" min="0" autosize/>
                <span class="sep"></span>
                <input type="number" name="system.castings.max" class="max-castings-control" value="{{system.castings.max}}"
                       data-tippy-content="{{localize "DL.SpellCastingsMax"}}" placeholder="-" min="0" autosize/>
              </div>
            </div>
          </div>
        </div>

        <hr>
        {{> "systems/demonlord/templates/item/partial/item-attacks.hbs" action=system.action actionId="system.action" healing=system.healing.healing healingId="system.healing.healing"}}

        <hr>

        <div class="dl-item-section-section text-areas">
          <div>
            <b>{{localize "DL.SpellRequirements"}}</b>
            <textarea name="system.requirements" placeholder="―" autosize>{{system.requirements}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellTarget"}}</b>
            <textarea name="system.target" placeholder="―" autosize>{{system.target}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellArea"}}</b>
            <textarea name="system.area" placeholder="―" autosize>{{system.area}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellDuration"}}</b>
            <textarea name="system.duration" placeholder="―" autosize>{{system.duration}}</textarea>
          </div>
        </div>
        <hr>

        {{#if system.description}}
          <div class="dl-item-section-description">
            <div><b>{{localize "DL.TabsDescription"}}</b></div>
            <div>
              {{{system.enrichedDescription}}}
            </div>
          </div>
        {{/if}}


        <div class="dl-item-section-section text-areas">
          <div>
            <b>{{localize "DL.SpellTriggered"}}</b>
            <textarea name="system.triggered" placeholder="―" autosize>{{system.triggered}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellSacrifice"}}</b>
            <textarea name="system.sacrifice" placeholder="―" autosize>{{system.sacrifice}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellPermanence"}}</b>
            <textarea name="system.permanence" placeholder="―" autosize>{{system.permanence}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellAftereffect"}}</b>
            <textarea name="system.aftereffect" placeholder="―" autosize>{{system.aftereffect}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellSpecial"}}</b>
            <textarea name="system.special" placeholder="―" autosize>{{system.special}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.SpellEffectDice"}}</b>
            <textarea name="system.effectdice" placeholder="―" autosize>{{system.effectdice}}</textarea>
          </div>
          <div>
            <b>{{localize "DL.WeaponAttack20Text"}}</b>
            <textarea name="system.action.plus20" placeholder="―" autosize>{{system.action.plus20}}</textarea>
          </div>
        </div>
        <hr>

        <!-- MEASURED TEMPLATE -->
        <div class="dl-item-section-section margin">
          <div class="dl-item-section-section-title">
            <b>{{localize "DL.MeasuredTemplate"}}</b>
          </div>
          <div style="display: flex; justify-content: flex-end; gap: 8px">
            <div class="dl-new-project-2">
              <span>{{localize "DL.ActionTargetValue"}} (yd)</span>
              <span class="sep"></span>
              <input type="number" name="system.activatedEffect.target.value"
                     value="{{system.activatedEffect.target.value}}"
                     placeholder="-" autosize/>
            </div>

            <div class="dl-new-project-2 nohover">
              <span>{{localize "DL.ActionTargetType"}}</span>
              <span class="sep"></span>
              <select name="system.activatedEffect.target.type">
                {{#select system.activatedEffect.target.type}}
                  <option value="">—</option>
                  {{#each config.actionTargetTypes as |name key|}}
                    <option value="{{key}}">{{localize name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <div style="gap: 0">
              <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.ActionTexture"}}">
                <input type="text" name="system.activatedEffect.texture" value="{{system.activatedEffect.texture}}"
                       autosize
                       placeholder="path/image.webp"
                       style="min-width: 120px; max-width: 200px; text-overflow: ellipsis; color: grey !important;
                       overflow: hidden; direction: rtl;">
              </div>
              <button
                type="button"
                class="file-picker dl-clickable"
                data-type="imagevideo"
                data-target="system.activatedEffect.texture"
                title="File"
                tabindex="-1"
                style="
                  background-color: rgba(0, 0, 0, 0.02);
                  height: 22px;
                  width: 22px;
                  margin-right: 3px;
                  font-size: 12px;
                  padding: 0;
                  line-height: 7px;
                  border: 1px solid #0000001a;
                  margin-left: 2px;
                  border-radius: 4px;"
              >
                <i class="fas fa-file-import fa-fw"></i>
              </button>
            </div>
          </div>
        </div>

      </div>

      {{> "systems/demonlord/templates/item/partial/item-description.hbs"}} {{#if effects}}{{>
    "systems/demonlord/templates/item/partial/item-effects.hbs"}}{{/if}}
      {{!-- "systems/demonlord/templates/item/partial/item-activation.hbs" --}}
    </section>
  </section>
</form>
