<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="ancestry">
  <div class="sidebar-content-container">
    <div class="level-sidebar">
      {{#each system.levels as |level index|}}
        <div class="dl-clickable dl-path-level-select" data-action="selectLevel" data-level-index="{{index}}">
          {{localize 'DL.PathsLevelsSubTitle'}} {{level.level}}
        </div>
      {{/each}}
      {{#if system.editAncestry}}
      <a class="item-control add-level" data-action="addLevel" data-tippy-content="{{localize 'DL.PathsAddLevel'}}">
        <i class="fas fa-plus"></i>
      </a>
      {{/if}}
    </div>

    <span class="panel-sep"></span>

    <div class="level-content">
      {{#if system.editAncestry}}
        {{> "systems/demonlord/templates/item/item-ancestry-edit.hbs"}}
      {{else}}
        {{> "systems/demonlord/templates/item/item-ancestry-view.hbs"}}
      {{/if}}
    </div>
  </div>
</div>
