<div class="dl-item-section-header row">
  <div class="col-4" style="margin-top: 4px">
    <b>{{item.name}}</b>
  </div>
</div>
<hr>

<!-- STARTING ATTRIBUTES  -->
<div class="dl-item-section-section margin">
  <div class="dl-item-section-section-title">
    <b>{{localize "DL.Attributes"}}</b>
  </div>
  <div class="dl-column-flex">
    <div class="dl-new-project-2 attribute nohover" data-tippy-content="{{localize "DL.AttributeStrength"}}">
      <i class="dl-icon-strength"></i>
      <span class="sep"></span>
      <span class="name" data-key="strength" style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize "DL.AttributeStrength"}}</span>
      <span class="sep"></span>
      <input type="{{ifThen system.attributes.strengthImmune "text" "Number"}}" name="system.attributes.strength" value="{{ifThen system.attributes.strengthImmune "-" system.attributes.strength}}" {{disabled system.attributes.strengthImmune}}
        placeholder="0" autosize />
    </div>

    <div class="dl-new-project-2 attribute nohover" data-tippy-content="{{localize "DL.AttributeAgility"}}">
      <i class="dl-icon-agility"></i>
      <span class="sep"></span>
      <span class="name" data-key="agility" style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize "DL.AttributeAgility"}}</span>
      <span class="sep"></span>
      <input type="{{ifThen system.attributes.agilityImmune "text" "Number"}}" name="system.attributes.agility" value="{{ifThen system.attributes.agilityImmune "-" system.attributes.agility}}" {{disabled system.attributes.agilityImmune}}
        placeholder="0" autosize />
    </div>

    <div class="dl-new-project-2 attribute nohover" data-tippy-content="{{localize "DL.AttributeIntellect"}}">
      <i class="dl-icon-intellect"></i>
      <span class="sep"></span>
      <span class="name" data-key="intellect" style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize "DL.AttributeIntellect"}}</span>
      <span class="sep"></span>
      <input type="{{ifThen system.attributes.intellectImmune "text" "Number"}}" name="system.attributes.intellect" value="{{ifThen system.attributes.intellectImmune "-" system.attributes.intellect}}" {{disabled system.attributes.intellectImmune}}
        placeholder="0" autosize />
    </div>

    <div class="dl-new-project-2 attribute nohover" data-tippy-content="{{localize "DL.AttributeWill"}}">
      <i class="dl-icon-will"></i>
      <span class="sep"></span>
      <span class="name" data-key="will" style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize "DL.AttributeWill"}}</span>
      <span class="sep"></span>
      <input type="{{ifThen system.attributes.willImmune "text" "Number"}}" name="system.attributes.will" value="{{ifThen system.attributes.willImmune "-" system.attributes.will}}" {{disabled system.attributes.willImmune}}
        placeholder="0" autosize />
    </div>
  </div>
</div>

<hr>

<!-- CHARACTERISTICS MODIFIER  -->
<div class="dl-item-section-section margin dl-characteristics-container">
  <div class="dl-item-section-section-title">
    <b>{{localize "DL.WeaponModifiers"}}</b>
  </div>

  <div class="dl-column-flex">
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-size"></i>
      <span class="sep"></span>
      <span style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize "DL.CharSize"}}</span>
      <span class="sep"></span>
      <input type="text" name="system.characteristics.size" value="{{system.characteristics.size}}" placeholder="0" />
    </div>

    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-speed"></i>
      <span class="sep"></span>
      <span style="width: 64px; text-align: center; text-overflow: ellipsis">{{localize "DL.CharSpeed"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.speed" value="{{system.characteristics.speed}}"
        placeholder="0" />
    </div>

    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-health"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CharHealth"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.healthmodifier"
        value="{{system.characteristics.healthmodifier}}" placeholder="0" />
    </div>
  </div>

  <div class="dl-column-flex">
    <div class="dl-new-project-2 nohover" data-tippy-content="{{localize "DL.CharHealthHealingRating"}}">
      <i class="dl-icon-healing"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CharHealthHealingRating"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.healingratemodifier"
        value="{{system.characteristics.healingratemodifier}}" placeholder="0" />
    </div>
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-perception"></i>
      <span class="sep"></span>
      <span>{{localize "DL.AttributePerception"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.perceptionmodifier"
        value="{{system.characteristics.perceptionmodifier}}" placeholder="0" />
    </div>
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-defense"></i>
      <span class="sep"></span>
      <span>{{localize "DL.AttributeDefense"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.defensemodifier"
        value="{{system.characteristics.defensemodifier}}" placeholder="0" />
    </div>
  </div>

  <div class="dl-column-flex">
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-insanity"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CharInsanity"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.insanity" value="{{system.characteristics.insanity}}"
        placeholder="0" />
    </div>
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-corruption"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CharCorruption"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.corruption" value="{{system.characteristics.corruption}}"
        placeholder="0" />
    </div>
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-power"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CharPower"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.characteristics.power" value="{{system.characteristics.power}}"
        placeholder="0" />
    </div>
  </div>

  <div class="dl-column-flex">
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-difficulty"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CreatureDifficulty"}}</span>
      <span class="sep"></span>
      <input type="number" name="system.difficulty" value="{{system.difficulty}}"
        placeholder="0" />
    </div>
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-frightening"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CreatureFrightening"}}</span>
      <span class="sep"></span>
      <input type="checkbox" name="system.frightening" {{checked system.frightening}} />
    </div>
    <div class="dl-new-project-2 nohover">
      <i class="dl-icon-horrifying"></i>
      <span class="sep"></span>
      <span>{{localize "DL.CreatureHorrifying"}}</span>
      <span class="sep"></span>
      <input type="checkbox" name="system.horrifying" {{checked system.horrifying}} />
    </div>
  </div>

</div>

<hr>

<div class="dl-item-section-section margin">
  <div class="dl-item-section-section-title">
    <b>{{localize "DL.FeaturesTitle"}} ({{localize "CONTROLS.Drop"}})</b>
    <a class="create-nested-item" data-tippy-content="{{localize 'DL.ItemAddItem'}}" data-type="feature"
      data-group="talent" data-folder-loc="FeaturesTitle">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <div class="dl-drop-zone dl-drop-zone-col-2" data-group="talent" data-level="{{id}}">
    {{#each system.talents as |item index|}}
    <div class="dl-nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}"
    {{#if item.system.enrichedDescriptionUnrolled}}
      data-tippy-html="{{item.system.enrichedDescriptionUnrolled}}"
    {{/if}}>
      <img src="{{item.img}}">
      <span class="edit-nested-item dl-clickable">{{item.name}}</span>
      <a class="delete-roleitem" data-tippy-content="{{localize 'DL.ItemDeleteItem'}}" data-type="talent">
        <i class="fas fa-times"></i>
      </a>
    </div>
    {{/each}}
  </div>
</div>

<div class="dl-item-section-section margin">
  <div class="dl-item-section-section-title">
    <b>{{localize "DL.WeaponTitle"}} ({{localize "CONTROLS.Drop"}})</b>
    <a class="create-nested-item" data-tippy-content="{{localize 'DL.ItemAddItem'}}" data-type="weapon"
      data-group="weapon" data-folder-loc="WeaponTitle">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <div class="dl-drop-zone dl-drop-zone-col-2" data-group="weapon" data-level="{{id}}">
    {{#each system.weapons as |item index|}}
    <div class="dl-nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}"
    {{#if item.system.enrichedDescriptionUnrolled}}
      data-tippy-html="{{item.system.enrichedDescriptionUnrolled}}"
    {{/if}}>
      <img src="{{item.img}}">
      <span class="edit-nested-item dl-clickable">{{item.name}}</span>
      <a class="delete-roleitem" data-tippy-content="{{localize 'DL.ItemDeleteItem'}}" data-type="weapon">
        <i class="fas fa-times"></i>
      </a>
    </div>
    {{/each}}
  </div>
</div>

<div class="dl-item-section-section margin">
  <div class="dl-item-section-section-title">
    <b>{{localize "DL.MagicSpellsTitle"}} ({{localize "CONTROLS.Drop"}})</b>
    <a class="create-nested-item" data-tippy-content="{{localize 'DL.ItemAddItem'}}" data-type="spell"
      data-group="spell" data-folder-loc="MagicSpellsTitle">
      <i class="fas fa-plus"></i>
    </a>
  </div>
  <div class="dl-drop-zone dl-drop-zone-col-2" data-group="spell" data-level="{{id}}">
    {{#each system.spells as |item index|}}
    <div class="dl-nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}"
    {{#if item.system.enrichedDescriptionUnrolled}}
      data-tippy-html="{{item.system.enrichedDescriptionUnrolled}}"
    {{/if}}>
      <img src="{{item.img}}">
      <span class="edit-nested-item dl-clickable">{{item.name}}</span>
      <a class="delete-roleitem" data-tippy-content="{{localize 'DL.ItemDeleteItem'}}" data-type="spell">
        <i class="fas fa-times"></i>
      </a>
    </div>
    {{/each}}
  </div>
</div>