<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="item">

  <div class="dl-item-section-header">
    <b>{{item.name}}</b>
  </div>
  <hr>

  <div class="dl-item-section item-properties">
    <b>{{localize "DL.WeaponProperties"}}</b>
    <input type="text" class="item-properties-textbox" name="system.properties" placeholder="―" value="{{system.properties}}">
    <div class="item-group-amount">
      <div class="input-group" data-tippy-content="{{localize "DL.ItemAmount"}}">
        <i class="icon-amount themed-icon"></i>
        <span class="sep"></span>
        <input type="number" class="input-group-textbox" name="system.quantity" value="{{system.quantity}}" placeholder="0" />
      </div>
    </div>
  </div>
  <div class="dl-item-section item-properties">
    <b>{{localize "DL.ConsumableType"}}</b>
    <div class="dl-item-section-group">
      {{ConsumableDropdown "system.consumabletype" system.consumabletype}}
      <div class="item-group-consumable-destroy checkable" data-action="toggleAutoDestroy">
        <div class="input-group" data-tippy-content="{{localize "DL.ConsumableDestroyOnEmpty"}}">
          <input type="checkbox" name="system.autoDestroy" {{checked system.autoDestroy}}>
          <i class="icon-destroy themed-icon"></i>
          <span class="sep"></span>
          <span class="text">{{localize "DL.ConsumableDestroy"}}</span>
        </div>
      </div>
    </div>
  </div>
  <hr>

  {{> "systems/demonlord/templates/item/partial/item-description.hbs" description=system.description enrichedDescription=system.enrichedDescription}}

  {{#if system.contents}}{{>"systems/demonlord/templates/item/partial/item-contents.hbs"}}{{/if}}

  {{> "systems/demonlord/templates/item/partial/item-availability.hbs" availability=system.availability availabilityName="system.availability" value=system.value valueName="system.value"}}

</div>
