<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="armor">

  <div class="dl-item-section-header">
    <b>{{item.name}}</b>
  </div>
  <hr>

  <div class="dl-item-section item-properties">
    <b>{{localize "DL.WeaponProperties"}}</b>
    <input type="text" class="item-properties-textbox" name="system.properties" placeholder="―" value="{{system.properties}}">
    <div class="item-group-shield checkable" data-action="toggleShield">
      <div class="input-group" data-tippy-content="{{localize "DL.ArmorIsShield"}}">
        <input type="checkbox" name="system.isShield" {{checked system.isShield}}>
        <i class="icon-shield themed-icon"></i>
        <span class="sep"></span>
        <span class="text">{{localize "DL.ArmorShield"}}</span>
      </div>
    </div>
  </div>

  <div class="dl-item-section item-properties armor">
    <b>{{localize "DL.TalentRollAttribute"}}</b>
    <div class="dl-item-section-group">
      <div class="item-group-agility-bonus">
        <div class="input-group" data-tippy-content="{{localize "DL.AttributeAgility"}}">
          <i class="icon-agility themed-icon"></i>
          <span class="sep"></span>
          <input type="number" class="input-group-textbox" name="system.agility" value="{{system.agility}}" placeholder="0" />
        </div>
      </div>
      <div class="item-group-defense-bonus">
        <div class="input-group" data-tippy-content="{{localize "DL.AttributeDefense"}}">
          <i class="icon-defense themed-icon"></i>
          <span class="sep"></span>
          <input type="number" class="input-group-textbox" name="system.defense" value="{{system.defense}}" placeholder="0" />
        </div>
      </div>
      <div class="item-group-fixed-armor">
        <div class="input-group" data-tippy-content="{{localize "DL.ArmorFixed"}}">
          <i class="icon-defense-fixed themed-icon"></i>
          <span class="sep"></span>
          <input type="number" class="input-group-textbox" name="system.fixed" value="{{system.fixed}}" placeholder="0" />
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="dl-item-section item-properties">
    <b>{{localize "DL.Requirements"}}</b>
    {{DropdownValue "system.requirement.attribute" system.requirement.attribute "system.requirement.minvalue" system.requirement.minvalue }}
  </div>
  <hr>

  {{> "systems/demonlord/templates/item/partial/item-description.hbs" description=system.description enrichedDescription=system.enrichedDescription}}

  {{> "systems/demonlord/templates/item/partial/item-availability.hbs" availability=system.availability availabilityName="system.availability" value=system.value valueName="system.value"}}

</div>