<!-- START OF TEMPLATES -->

{{#*inline "AttributeSelector"}}
  <label class="item-group-attribute-value checkable" for="{{id}}" data-tippy-content="{{localize loc}}">
    <input type="checkbox" id={{id}} name="{{name}}" {{checked selected}} />
    <i class="icon-{{icon}} themed-icon"></i>
    <span class="sep"></span>
    <span class="text">{{plusify value}}</span>
  </label>
{{/inline}}

{{#*inline "AttributeViewer"}}
  {{#if (or mandatory value)}}
  <div class="item-group-attribute-value display-only" data-tippy-content="{{localize loc}}">
    <i class="icon-{{icon}} themed-icon"></i>
    <span class="sep"></span>
    <span class="text">{{ifThen immune '-' (ifThen noPlusify value (plusify value))}}</span>
  </div>
  {{/if}}
{{/inline}}

{{#*inline "LevelAttributeTwoSetViewer"}}
  <label class="item-group-icon-checkbox checkable" for="{{inputName}}" name="{{inputName}}Selected" data-tippy-content="{{localize (concat "DL.Attribute" (capitalize attribute))}}">
    {{!-- <input type="checkbox" id="{{inputName}}" name="{{inputName}}" {{checked selected}}/> --}}
    <input type="radio" id="{{inputName}}" name="{{groupName}}" {{checked selected}}/>
    <i class="icon-{{attribute}} themed-icon" ></i>
  </label>
{{/inline}}

{{#* inline "DropZoneView"}}
  <div class="drop-zone-view" data-group="{{dataGroup}}" data-level="{{dataLevel}}">
    {{#each collection as |item index|}}
      <div class="nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}" {{#if item.system.enrichedDescriptionUnrolled}}data-tippy-html="{{item.system.enrichedDescriptionUnrolled}}"{{/if}}>
        <img src="{{item.img}}">
        <span class="edit-nested-item dl-clickable" data-action="editNestedItem">{{item.name}}</span>
        {{#if ../selectable}}
          <div style="margin-right: 1px;margin-left: auto; align-self: center"
               data-action="transferItem"
               class="dl-custom-checkbox dl-item-transfer {{#if item.selected}}checked{{/if}}"
               data-tippy-content="{{localize "DL.TransferItem"}}"></div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/inline}}
<!-- END OF TEMPLATES -->

<div class="level-selector" data-level-index="-1" {{#if (ne -1 system.selectedLevelIndex)}}style="display: none"{{/if}}>
  <div name="level.level" value="0" style="display: none"></div>
  <div class="dl-item-section-header row">
    <div class="path-level-control">
      <b>{{localize 'DL.PathsLevelsSubTitle'}} 0</b>
    </div>
  </div>

  <hr>

  <div class="dl-item-section split">
    <div class="half-panel">
      <b>{{localize "DL.AncestryStartingAttributes"}}</b>
      <div class="attribute-select-container">
        {{> AttributeViewer icon="strength"   value=system.attributes.strength.value  loc="DL.AttributeStrength" noPlusify=true}}
        {{> AttributeViewer icon="agility"    value=system.attributes.agility.value   loc="DL.AttributeAgility" noPlusify=true}}
        {{> AttributeViewer icon="intellect"  value=system.attributes.intellect.value loc="DL.AttributeIntellect" noPlusify=true}}
        {{> AttributeViewer icon="will"       value=system.attributes.will.value      loc="DL.AttributeWill" noPlusify=true}}
      </div>
    </div>
    <span class="panel-sep"></span>
    <div class="half-panel">
      <b>{{localize "DL.PathsLevelCharacteristicsSubtitle"}}</b>
      <div class="characteristics-container">
        {{> AttributeViewer icon="health"     value=system.characteristics.healthmodifier       loc="DL.CharHealth" noPlusify=true}}
        {{> AttributeViewer icon="healing"    value=system.characteristics.healingratemodifier  loc="DL.CharHealthHealingRating" noPlusify=true}}
        {{> AttributeViewer icon="size"       value=system.characteristics.size                 loc="DL.CharSize" noPlusify=true}}
        {{> AttributeViewer icon="defense"    value=system.characteristics.defensemodifier      loc="DL.AttributeDefense" noPlusify=true}}
        {{> AttributeViewer icon="perception" value=system.characteristics.perceptionmodifier   loc="DL.AttributePerception" noPlusify=true}}
        {{> AttributeViewer icon="speed"      value=system.characteristics.speed                loc="DL.CharSpeed" noPlusify=true}}
        {{> AttributeViewer icon="insanity"   value=system.characteristics.insanity.value       loc="DL.CharInsanity" immune=system.characteristics.insanity.immune  noPlusify=true}}
        {{> AttributeViewer icon="corruption" value=system.characteristics.corruption.value     loc="DL.CharCorruption" immune=system.characteristics.corruption.immune noPlusify=true}}
        {{> AttributeViewer icon="power"      value=system.characteristics.power                loc="DL.CharPower" noPlusify=true}}
      </div>
    </div>
  </div>

  <hr>

  <div class="dl-item-section">
    {{#if system.languages}}
      <div class="dl-item-section-header">
        <b>{{localize "DL.PathsLevelLanguages"}}</b>
      </div>
      <div class="text-areas">
        <div>{{system.languages}}</div>
      </div>
    {{/if}}

    {{#if system.equipment}}
      <div class="dl-item-section-header">
        <b>{{localize "DL.PathsLevelEquipment"}}</b>
      </div>
      <div class="text-areas">
        <div>{{system.equipment}}</div>
      </div>
    {{/if}}
  </div>

  {{#if (or system.languages system.equipment)}}
    <hr>
  {{/if}}

  {{#if system.talents.length}}
    <div class="dl-item-section">
      <div class="dl-item-section-header">
        <b>{{localize "DL.FeaturesTitle"}}</b>
      </div>
      {{> DropZoneView collection=system.talents dataGroup="talents" dataLevel=0}}
    </div>
  {{/if}}

  {{#if system.languagelist.length}}
    <div class="dl-item-section">
      <div class="dl-item-section-header">
        <b>{{localize "DL.LanguagesTitle"}}</b>
      </div>
      {{> DropZoneView collection=system.languagelist dataGroup="languagelist" dataLevel=0}}
    </div>
  {{/if}}
</div>

{{#each system.levels as |level index|}}
  <div class="level-selector" data-level-index="{{index}}" {{#if (ne index ../system.selectedLevelIndex)}}style="display: none"{{/if}}>
    <div name="level.level" value="{{level.level}}" style="display: none"></div>
    <div class="dl-item-section-header row">
      <div class="path-level-control">
        <b>{{localize 'DL.PathsLevelsSubTitle'}} {{level.level}}</b>
      </div>
    </div>

    <hr>

    <div class="dl-item-section split">
      <div class="half-panel">
        <b>{{localize "DL.PathsLevelAttributesSubtitle"}}</b>
        <div class="attribute-select-container"> 
          <div class="item-group-attribute-select display-only" name="level.attributeSelect" value="{{level.attributeSelect}}">
            <div class="input-group">
              <span class="text">{{localize (ifThen level.attributeSelect (concat 'DL.PathsLevelAttributes' (capitalize level.attributeSelect)) 'DL.None')}}</span>
            </div>
          </div>

          {{#if (or level.attributeSelectIsChooseTwo level.attributeSelectIsChooseThree)}}
            {{> AttributeSelector icon="strength"   value=level.attributeStrength  id=(concat "L" level.level ".attributeStrengthSelected") name="level.attributeStrengthSelected"  selected=level.attributeStrengthSelected  loc="DL.AttributeStrength"}}
            {{> AttributeSelector icon="agility"    value=level.attributeAgility   id=(concat "L" level.level ".attributeAgilitySelected") name="level.attributeAgilitySelected"   selected=level.attributeAgilitySelected   loc="DL.AttributeAgility"}}
            {{> AttributeSelector icon="intellect"  value=level.attributeIntellect id=(concat "L" level.level ".attributeIntellectSelected") name="level.attributeIntellectSelected" selected=level.attributeIntellectSelected loc="DL.AttributeIntellect"}}
            {{> AttributeSelector icon="will"       value=level.attributeWill      id=(concat "L" level.level ".attributeWillSelected") name="level.attributeWillSelected"      selected=level.attributeWillSelected      loc="DL.AttributeWill"}}
          {{else if level.attributeSelectIsFixed}}
            {{> AttributeViewer icon="strength"     value=level.attributeStrength  name="level.attributeStrength"  loc="DL.AttributeStrength"}}
            {{> AttributeViewer icon="agility"      value=level.attributeAgility   name="level.attributeAgility"   loc="DL.AttributeAgility"}}
            {{> AttributeViewer icon="intellect"    value=level.attributeIntellect name="level.attributeIntellect" loc="DL.AttributeIntellect"}}
            {{> AttributeViewer icon="will"         value=level.attributeWill      name="level.attributeWill"      loc="DL.AttributeWill"}}
          {{else if level.attributeSelectIsTwoSet}}
            <div class="attribute-set-container">
              {{> LevelAttributeTwoSetViewer inputName="level.attributeSelectTwoSet1" attribute=level.attributeSelectTwoSet1 groupName="attributeSet1" selected=(not level.attributeSelectTwoSetSelectedValue1)}}
              <span class="text-vs">{{localize "DL.PathsLevelAttributesSelectOr"}}</span>
              {{> LevelAttributeTwoSetViewer inputName="level.attributeSelectTwoSet2" attribute=level.attributeSelectTwoSet2 groupName="attributeSet1" selected=level.attributeSelectTwoSetSelectedValue1}}
              <div class="input-group-value">
                <input type="number" class="input-group-textbox" name="level.attributeSelectTwoSetValue1" value="{{level.attributeSelectTwoSetValue1}}"/>
              </div>
            </div>
            <div class="attribute-set-container">
              {{> LevelAttributeTwoSetViewer inputName="level.attributeSelectTwoSet3" attribute=level.attributeSelectTwoSet3 groupName="attributeSet2" selected=(not level.attributeSelectTwoSetSelectedValue2)}}
              <span class="text-vs">{{localize "DL.PathsLevelAttributesSelectOr"}}</span>
              {{> LevelAttributeTwoSetViewer inputName="level.attributeSelectTwoSet4" attribute=level.attributeSelectTwoSet4 groupName="attributeSet2" selected=level.attributeSelectTwoSetSelectedValue2}}
              <div class="input-group-value">
                <input type="number" class="input-group-textbox" name="level.attributeSelectTwoSetValue1" value="{{level.attributeSelectTwoSetValue1}}"/>
              </div>
            </div>
          {{/if}}
        </div>
      </div>

      <span class="panel-sep"></span>

      <div class="half-panel">
        <b>{{localize "DL.PathsLevelCharacteristicsSubtitle"}}</b>
        <div class="characteristics-container">
          {{> AttributeViewer icon="health"   value=level.characteristicsHealth  name="level.characteristicsHealth" loc="DL.CharHealth"}}
          {{> AttributeViewer icon="defense"   value=level.characteristicsDefense  name="level.characteristicsDefense" loc="DL.AttributeDefense"}}
          {{> AttributeViewer icon="perception"   value=level.characteristicsPerception  name="level.characteristicsPerception" loc="DL.AttributePerception"}}
          {{> AttributeViewer icon="speed"   value=level.characteristicsSpeed  name="level.characteristicsSpeed" loc="DL.CharSpeed"}}
          {{> AttributeViewer icon="insanity"   value=level.characteristicsInsanity  name="level.characteristicsInsanity" loc="DL.CharInsanity"}}
          {{> AttributeViewer icon="corruption"   value=level.characteristicsCorruption  name="level.characteristicsCorruption" loc="DL.CharCorruption"}}
          {{> AttributeViewer icon="power"   value=level.characteristicsPower  name="level.characteristicsPower" loc="DL.CharPower"}}
        </div>
      </div>
    </div>

    <hr>

    <div class="dl-item-section">
      {{#if level.languagesText}}
        <div class="dl-item-section-header">
          <b>{{localize "DL.PathsLevelLanguages"}}</b>
        </div>
        <div class="text-areas">
          <div>{{level.languagesText}}</div>
        </div>
      {{/if}}

      {{#if level.equipmentText}}
        <div class="dl-item-section-header">
          <b>{{localize "DL.PathsLevelEquipment"}}</b>
        </div>
        <div class="text-areas">
          <div>{{level.equipmentText}}</div>
        </div>
      {{/if}}

      {{#if level.magicText}}
        <div class="dl-item-section-header">
          <b>{{localize "DL.TabsMagic"}}</b>
        </div>
        <div class="text-areas">
          <div>{{level.magicText}}</div>
        </div>
      {{/if}}

      {{#if level.optionsText}}
        <div class="dl-item-section-header">
          <b>{{localize "DL.OptionsText"}}</b>
        </div>
        <div class="text-areas">
          <div>{{level.optionsText}}</div>
        </div>
      {{/if}}
    </div>

    {{#if (or level.languagesText level.equipmentText level.magicText)}}
      <hr>
    {{/if}}

    {{#if level.talents.length}}
      <div class="dl-item-section">
        <div class="dl-item-section-header">
          <b>{{localize "DL.TalentTitle"}}</b>
        </div>
        {{> DropZoneView collection=level.talents dataGroup="talents" dataLevel=index}}
      </div>
    {{/if}}

    {{#if level.talentspick.length}}
      <div class="dl-item-section">
        <div class="dl-item-section-header">
          <b>{{localize "DL.TalentTitle"}} ({{localize 'DL.PathsLevelTalentChooseOne'}})</b>
        </div>
        {{> DropZoneView collection=level.talentspick dataGroup="talentspick" dataLevel=index selectable=true}}
      </div>
    {{/if}}

    {{#if level.spells.length}}
      <div class="dl-item-section">
        <div class="dl-item-section-header">
          <b>{{localize "DL.MagicSpellsTitle"}}</b>
        </div>
        {{> DropZoneView collection=level.spells dataGroup="spells" dataLevel=index selectable=true}}
      </div>
    {{/if}}
  </div>
{{/each}}

