  <div class="standard-form scrollable">
   <div class="form-group">
    <label>{{localize "DL.SettingAttackShowEnemyAttributeAtt"}}</label>
    <input type="checkbox" name="attackShowAttack" {{checked attackShowAttack}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingAttackShowEnemyAttributeAttHint"}}</p>
  </div>
   <div class="form-group">
    <label>{{localize "DL.SettingAttackShowEnemyAttribute"}}</label>
    <input type="checkbox" name="attackShowDefense" {{checked attackShowDefense}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingAttackShowEnemyAttributeHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingRollCreaturesToGM"}}</label>
    <input type="checkbox" name="rollCreaturesToGM" {{checked rollCreaturesToGM}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingRollCreaturesToGMHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingHideActorInfo"}}</label>
    <input type="checkbox" name="hideActorInfo" {{checked hideActorInfo}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingHideActorInfoHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingHideCreatureDescription"}}</label>
    <input type="checkbox" name="hideDescription" {{checked hideDescription}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingHideCreatureDescriptionHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingHideDamage"}}</label>
    <input type="checkbox" name="hideDamage" {{checked hideDamage}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingHideDamageHint"}}</p>
  </div>
</div>