  <div class="standard-form scrollable">
   <div class="form-group">
    <label>{{localize "DL.SettingInitMessage"}}</label>
    <input type="checkbox" name="initMessage" {{checked initMessage}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingInitMessageHint"}}</p>
  </div>
   <div class="form-group">
    <label>{{localize "DL.SettingInitRandomize"}}</label>
    <input type="checkbox" name="initRandomize" {{checked initRandomize}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingInitRandomizeHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingAutoSetDefeated"}}</label>
    <input type="checkbox" name="autoSetDefeated" {{checked autoSetDefeated}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingAutoSetDefeatedHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingShowEncounterDifficulty"}}</label>
    <input type="checkbox" name="showEncounterDifficulty" {{checked showEncounterDifficulty}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingShowEncounterDifficultyHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingtargetingOnSelect"}}</label>
    <input type="checkbox" name="targetingOnSelect" {{checked targetingOnSelect}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingtargetingOnSelectHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingTemplateAutoTargeting"}}</label>
    <input type="checkbox" name="templateAutoTargeting" {{checked templateAutoTargeting}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingTemplateAutoTargetingHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingTemplateAutoRemove"}}</label>
    <input type="checkbox" name="templateAutoRemove" {{checked templateAutoRemove}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingTemplateAutoRemoveHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingAutoDeleteEffects"}}</label>
    <input type="checkbox" name="autoDeleteEffects" {{checked autoDeleteEffects}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingAutoDeleteEffectsHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingConcentrationEffect"}}</label>
    <input type="checkbox" name="concentrationEffect" {{checked concentrationEffect}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingConcentrationEffectHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingFinesseAutoSelect"}}</label>
    <input type="checkbox" name="finesseAutoSelect" {{checked finesseAutoSelect}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingFinesseAutoSelectHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingLaunchDialogReminder"}}</label>
    <input type="checkbox" name="launchDialogReminder" {{checked launchDialogReminder}} data-dtype="Boolean" />
    <p class="hint">{{localize "DL.SettingLaunchDialogReminderHint"}}</p>
  </div>
</div>