<form autocomplete="off">

  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleConsistentDamage"}}</label>
    <input type="checkbox" name="optionalRuleConsistentDamage" {{checked optionalRuleConsistentDamage}} data-dtype="Boolean" />
  </div>
  <hr>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleDieRollsMode"}}</label>
    <select name="optionalRuleDieRollsMode">
      {{selectOptions dieRollsDropDrown selected=selectedDieRollsDropDrown localize=true}}
    </select>
  </div>
  <hr>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleInitiative"}}</label>
    <select name="optionalRuleInitiativeMode">
      {{selectOptions initiativeMethodDropDrown selected=selectedInitiativeMethodDropDrown localize=true}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleRollInitEachRound"}}</label>
    <input type="checkbox" name="optionalRuleRollInitEachRound" {{checked optionalRuleRollInitEachRound}} data-dtype="Boolean" />
  </div>
  <hr>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleSurroundingMode"}}</label>
    <select name="optionalRuleSurroundingMode">
      {{selectOptions SurroundingDropDown selected=selectedSurroundingModeDropDown localize=true}}
    </select>
    <p class="notes">{{localize "DL.SettingOptionalRuleSurroundingModeHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleSurroundingDispositions"}}</label>
    <select name="optionalRuleSurroundingDispositions">
      {{selectOptions AllowedDispositionDropDown selected=selectedAllowedDispositionDropDown localize=true}}
    </select>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleSurroundingExcludeTokens"}}</label>
    <input type="checkbox" name="optionalRuleSurroundingExcludeTokens" {{checked optionalRuleSurroundingExcludeTokens}} data-dtype="Boolean" />
    <p class="notes">{{localize "DL.SettingOptionalRuleSurroundingExcludeTokensHint"}}</p>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleSurroundingRevealChatCard"}}</label>
    <input type="checkbox" name="optionalRuleSurroundingRevealChatCard" {{checked optionalRuleSurroundingRevealChatCard}} data-dtype="Boolean" />
    <p class="notes">{{localize "DL.SettingOptionalRuleRevealHorrifyingBaneHint"}}</p>
  </div>  
  <hr>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleExceedsByFive"}}</label>
    <input type="checkbox" name="optionalRuleExceedsByFive" {{checked optionalRuleExceedsByFive}} data-dtype="Boolean" />
    <p class="notes">{{localize "DL.SettingOptionalRuleExceedsByFiveHint"}}</p>    
  </div>
  <hr>
  <div class="form-group">
    <label>{{localize "DL.SettingHorrifyingBane"}}</label>
    <input type="checkbox" name="horrifyingBane" {{checked horrifyingBane}} data-dtype="Boolean" />
    <p class="notes">{{localize "DL.SettingHorrifyingBaneHint"}}</p>    
  </div>  
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleLevelDependentBane"}}</label>
    <input type="checkbox" name="optionalRuleLevelDependentBane" {{checked optionalRuleLevelDependentBane}} data-dtype="Boolean" />
    <p class="notes">{{localize "DL.SettingOptionalRuleLevelDependentBaneHint"}}</p>
    <a style="font-size: var(--font-size-12); color: var(--color-text-dark-secondary)" href='https://somniacdelusions.wordpress.com/2019/04/17/sotdl-house-rules/'>https://somniacdelusions.wordpress.com/2019/04/17/sotdl-house-rules</a>
  </div>
  <div class="form-group">
    <label>{{localize "DL.SettingOptionalRuleRevealHorrifyingBane"}}</label>
    <input type="checkbox" name="optionalRuleRevealHorrifyingBane" {{checked optionalRuleRevealHorrifyingBane}} data-dtype="Boolean" />
    <p class="notes">{{localize "DL.SettingOptionalRuleRevealHorrifyingBaneHint"}}</p>
  </div>
  <footer class="sheet-footer flexrow">
    <button type="submit" name="submit">
      <i class="far fa-save"></i>
      {{localize "SETTINGS.Save"}}
    </button>
    <button type="button" data-action="reset">
      <i class="fas fa-undo"></i>
      {{localize "SETTINGS.Reset"}}
    </button>
  </footer>
</form>
