<form autocomplete="off">

    <div class="form-group">
        <label>{{localize "DL.SettingOptionalRuleConsistentDamage"}}</label>
        <input type="checkbox" name="optinalRuleConsistentDamage" {{checked optinalRuleConsistentDamage}} data-dtype="Boolean"/>
    </div>
    <hr>
	<div class="form-group">
        <label>{{localize "DL.SettingOptionalRuleDieRollsMode"}}</label>
        <select name="optionalRuleDieRollsMode">
            {{selectOptions dieRollsDropDrown selected=selectedDieRollsDropDrown localize=true}}
        </select>
    </div>
    <hr>
	<div class="form-group">
        <label>{{localize "DL.SettingOptionalRuleInitiative"}}</label>
        <select name="optionalRuleInitiativeMode">
            {{selectOptions initiativeMethodDropDrown selected=selectedInitiativeMethodDropDrown localize=true}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "DL.SettingOptinalRuleRollInitEachRound"}}</label>
        <input type="checkbox" name="optinalRuleRollInitEachRound" {{checked optinalRuleRollInitEachRound}} data-dtype="Boolean"/>
    </div>
	<footer class="sheet-footer flexrow">
		<button type="submit" name="submit">
		 	<i class="far fa-save"></i>
			{{localize "SETTINGS.Save"}}
		</button>
		<button type="button" data-action="reset">
			<i class="fas fa-undo"></i>
			{{localize "SETTINGS.Reset"}}
		</button>
	</footer>
</form>