<!-- START OF TEMPLATES -->
{{#*inline "AttributeInput"}}
  <div class="item-group-attribute-value">
    <div class="input-group" data-tippy-content="{{localize loc}}">
      <i class="icon-{{icon}} themed-icon"></i>
      <span class="sep"></span>
      <input type="number" class="input-group-textbox" name="{{name}}" value="{{value}}" placeholder="0" />
    </div>
  </div>
{{/inline}}

{{#* inline "DropZoneEdit"}}
  <div class="drop-zone" data-group="{{dataGroup}}" data-level="{{dataLevel}}">
    {{#each collection as |item index|}}
      <div class="nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}" {{#if item.system.enrichedDescriptionUnrolled}}data-tippy-html="{{item.system.enrichedDescriptionUnrolled}}"{{/if}}>
        <img src="{{item.img}}">
        <span class="edit-nested-item dl-clickable" data-action="editNestedItem">{{item.name}}</span>
        <a class="delete-item" data-action="deleteItem" data-tippy-content="{{localize 'DL.Delete'}}" data-type="{{type}}"
           style="align-self: center; margin-left: auto; margin-right: 4px">
          <i class="fas fa-times"></i>
        </a>
      </div>
    {{/each}}
  </div>
{{/inline}}
<!-- END OF TEMPLATES -->

{{#each system.levels as |level index|}}
  <div class="level-selector" data-level-index="{{index}}" {{#if (ne index ../system.selectedLevelIndex)}}style="display: none"{{/if}}>
    <div name="level.level" value="{{level.level}}" style="display: none"></div>
    <div class="dl-item-section-header item-properties">
      <div class="path-level-control">
        <b>{{localize 'DL.PathsLevelsSubTitle'}}</b>
        <input type="number" class="path-level-input" name="level.level" value="{{level.level}}" min="0" max="20"/>
      </div>
      <a class="dl-clickable delete-level" data-action="deleteItem" data-tippy-content="{{localize 'DL.PathsDeleteLevel'}}">
        <i style="margin-top: 6px;" class="fas fa-times"></i>
      </a>
    </div>

    <hr>

    <div class="dl-item-section split">
      <div class="half-panel">
        <b>{{localize "DL.PathsLevelAttributesSubtitle"}}</b>
        <div class="attribute-select-container">
          {{AttributeSelectDropdown "level.attributeSelect" level.attributeSelect}}

          {{#if (or level.attributeSelectIsChooseTwo level.attributeSelectIsChooseThree level.attributeSelectIsFixed)}}
            {{> AttributeInput icon="strength"   value=level.attributeStrength  name="level.attributeStrength"  loc="DL.AttributeStrength"}}
            {{> AttributeInput icon="agility"    value=level.attributeAgility   name="level.attributeAgility"   loc="DL.AttributeAgility"}}
            {{> AttributeInput icon="intellect"  value=level.attributeIntellect name="level.attributeIntellect" loc="DL.AttributeIntellect"}}
            {{> AttributeInput icon="will"       value=level.attributeWill      name="level.attributeWill"      loc="DL.AttributeWill"}}
          {{else if level.attributeSelectIsTwoSet}}
            <div class="attribute-set-container">
              {{LevelAttributeTwoSet 'level.attributeSelectTwoSet1' level.attributeSelectTwoSet1 }}
              <span class="text-vs">{{localize "DL.PathsLevelAttributesSelectOr"}}</span>
              {{LevelAttributeTwoSet 'level.attributeSelectTwoSet2' level.attributeSelectTwoSet2 }}
              <div class="input-group-value">
                <input type="number" class="input-group-textbox" name="level.attributeSelectTwoSetValue1" value="{{level.attributeSelectTwoSetValue1}}"/>
              </div>
            </div>
            <div class="attribute-set-container">
              {{LevelAttributeTwoSet 'level.attributeSelectTwoSet3' level.attributeSelectTwoSet3}}
              <span class="text-vs">{{localize "DL.PathsLevelAttributesSelectOr"}}</span>
              {{LevelAttributeTwoSet 'level.attributeSelectTwoSet4' level.attributeSelectTwoSet4}}
              <div class="input-group-value">
                <input type="number" class="input-group-textbox" name="level.attributeSelectTwoSetValue2" value="{{level.attributeSelectTwoSetValue2}}"/>
              </div>
            </div>
          {{/if}}
        </div>
      </div>

      <span class="panel-sep"></span>

      <div class="half-panel">
        <b>{{localize "DL.PathsLevelCharacteristicsSubtitle"}}</b>
        <div class="characteristics-container">
          {{> AttributeInput icon="health" value=level.characteristicsHealth name="level.characteristicsHealth" loc="DL.CharHealth"}}
          {{> AttributeInput icon="defense" value=level.characteristicsDefense name="level.characteristicsDefense" loc="DL.AttributeDefense"}}
          {{> AttributeInput icon="perception" value=level.characteristicsPerception name="level.characteristicsPerception" loc="DL.AttributePerception"}}
          {{> AttributeInput icon="speed" value=level.characteristicsSpeed name="level.characteristicsSpeed" loc="DL.CharSpeed"}}
          {{> AttributeInput icon="insanity" value=level.characteristicsInsanity name="level.characteristicsInsanity" loc="DL.CharInsanity"}}
          {{> AttributeInput icon="corruption" value=level.characteristicsCorruption name="level.characteristicsCorruption" loc="DL.CharCorruption"}}
          {{> AttributeInput icon="power" value=level.characteristicsPower name="level.characteristicsPower" loc="DL.CharPower"}}
        </div>
      </div>
    </div>    

    <div class="text-inputs-container">
      <div class="dl-item-section">
        <b>{{localize "DL.PathsLevelLanguages"}}</b>
        <input type="text" class="path-textbox" name="level.languagesText" value="{{level.languagesText}}" />
      </div>
      <div class="dl-item-section">
        <b>{{localize "DL.PathsLevelEquipment"}}</b>
        <input type="text" class="path-textbox" name="level.equipmentText" value="{{level.equipmentText}}" />
      </div>
      <div class="dl-item-section">
        <b>{{localize "DL.TabsMagic"}}</b>
        <input type="text" class="path-textbox" name="level.magicText" value="{{level.magicText}}" />
      </div>
      <div class="dl-item-section">
        <b>{{localize "DL.OptionsText"}}</b>
        <input type="text" class="path-textbox" name="level.optionsText" value="{{level.optionsText}}" />
      </div>
    </div>

    <hr>

    <div class="drop-zones-container">
      <div class="dl-item-section split">
        <div class="half-panel">
          <div class="dl-item-section-title">
            <b>{{localize "DL.TalentTitle"}}</b>
            <a class="create-nested-item" data-action="createNestedItem" data-tippy-content="{{localize 'DL.TalentAdd'}}"
                data-type="talent" data-group="talents" data-folder-loc="TalentTitle" data-level="{{index}}">
              <i class="fas fa-plus"></i>
            </a>
          </div>
          {{> DropZoneEdit collection=level.talents dataGroup="talents" dataLevel=index}}
        </div>

        <span class="panel-sep"></span>
      
        <div class="half-panel">
          <div class="dl-item-section-title">
            <b>{{localize "DL.TalentTitle"}} ({{localize 'DL.PathsLevelTalentChooseOne'}})</b>
            <a class="create-nested-item" data-action="createNestedItem" data-tippy-content="{{localize 'DL.TalentAdd'}}"
              data-type="talent" data-group="talentspick" data-folder-loc="TalentTitle" data-level="{{index}}">
              <i class="fas fa-plus"></i>
            </a>
          </div>
          {{> DropZoneEdit collection=level.talentspick dataGroup="talentspick" dataLevel=index}}
        </div>
      </div>

      <div class="dl-item-section">
        <div class="dl-item-section-title">
          <b>{{localize "DL.MagicSpellsTitle"}}</b>
          <a class="create-nested-item" data-action="createNestedItem" data-tippy-content="{{localize 'DL.MagicAddSpell'}}"
            data-type="spell" data-group="spells" data-folder-loc="MagicSpellsTitle" data-level="{{index}}">
            <i class="fas fa-plus"></i>
          </a>
        </div>
        {{> DropZoneEdit collection=level.spells dataGroup="spells" dataLevel=index}}
      </div>
    </div>
  </div>
{{/each}}
