<div class="tab demonlord-v2-tab scrollable {{cssClass}}" data-group="primary" data-tab="language">
  <div class="dl-item-section-header">
    <b>{{item.name}}</b>
  </div>

  <div class="dl-item-section">
    {{#*inline "dlLangType"}}
      <div class="item-group-language checkable {{ifThen selected "checked" ""}}" data-action="{{action}}">
        <div class="input-group">
          <input type="checkbox" name="system.{{name}}" {{checked selected}} />
          <i class="icon-{{name}} themed-icon"></i>
          <span class="sep"></span>
          <span class="text">{{localize loc}}</span>
        </div>
      </div>
    {{/inline}}

    <div class="item-properties language-checkboxes">
      {{> dlLangType name="speak" selected=system.speak loc="DL.LanguagesSpeak" action="toggleSpeak"}}
      {{> dlLangType name="read"  selected=system.read  loc="DL.LanguagesRead" action="toggleRead"}}
      {{> dlLangType name="write" selected=system.write loc="DL.LanguagesWrite" action="toggleWrite"}}
    </div>
  </div>

  {{> "systems/demonlord/templates/v2/item/partial/item-description.hbs" description=system.description enrichedDescription=system.enrichedDescription}}

</div>