<!-- START OF TEMPLATES -->
{{#*inline "AttributeInput"}}
  <div class="item-group-attribute-value">
    <div class="input-group" data-tippy-content="{{localize loc}}">
      <i class="icon-{{icon}} themed-icon"></i>
      <span class="sep"></span>
      <input type="{{ifThen immune 'text' 'Number'}}" class="input-group-textbox editable-stat-input" name="{{name}}" value="{{ifThen immune '-' value}}" {{disabled immune}} placeholder="0" />
    </div>
  </div>
{{/inline}}

{{#* inline "DropZoneEdit"}}
  <div class="drop-zone" data-group="{{dataGroup}}" data-level="{{dataLevel}}">
    {{#each collection as |item index|}}
      <div class="nested-item" data-item-index="{{index}}" data-item-id="{{item._id}}" {{#if item.system.enrichedDescriptionUnrolled}}data-tippy-html="{{item.system.enrichedDescriptionUnrolled}}"{{/if}}>
        <img src="{{item.img}}">
        <span class="edit-nested-item dl-clickable" data-action="editNestedItem">{{item.name}}</span>
        <a class="delete-item" data-action="deleteItem" data-tippy-content="{{localize 'DL.Delete'}}" data-type="{{type}}"
           style="align-self: center; margin-left: auto; margin-right: 4px">
          <i class="fas fa-times"></i>
        </a>
      </div>
    {{/each}}
  </div>
{{/inline}}
<!-- END OF TEMPLATES -->

<div class="dl-item-section-header">
  <b>{{item.name}}</b>
</div>
<hr>

<!-- STARTING ATTRIBUTES  -->
<div class="dl-item-section">
  <b>{{localize "DL.Attributes"}}</b>
  <div class="role-attributes-container">
    {{> AttributeInput icon='strength' value=system.attributes.strength name="system.attributes.strength" immune=system.attributes.strengthImmune loc='DL.AttributeStrength'}}
    {{> AttributeInput icon='agility' value=system.attributes.agility name="system.attributes.agility" immune=system.attributes.agilityImmune loc='DL.AttributeAgility'}}
    {{> AttributeInput icon='intellect' value=system.attributes.intellect name="system.attributes.intellect" immune=system.attributes.intellectImmune loc='DL.AttributeIntellect'}}
    {{> AttributeInput icon='will' value=system.attributes.will name="system.attributes.will" immune=system.attributes.willImmune loc='DL.AttributeWill'}}
  </div>
</div>

<hr>

<!-- CHARACTERISTICS MODIFIER  -->
<div class="dl-item-section">
    <b>{{localize "DL.WeaponModifiers"}}</b>
  <div class="characteristics-container">
    {{> AttributeInput icon='health' value=system.characteristics.healthmodifier name="system.characteristics.healthmodifier" loc='DL.CharHealth'}}
    {{> AttributeInput icon='healing' value=system.characteristics.healingratemodifier name="system.characteristics.healingratemodifier" loc='DL.CharHealthHealingRating'}}
    {{> AttributeInput icon='size' value=system.characteristics.size name="system.characteristics.size" loc='DL.CharSize'}}
    {{> AttributeInput icon='defense' value=system.characteristics.defensemodifier name="system.characteristics.defensemodifier" loc='DL.AttributeDefense'}}
    {{> AttributeInput icon='perception' value=system.characteristics.perceptionmodifier name="system.characteristics.perceptionmodifier" loc='DL.AttributePerception'}}
    {{> AttributeInput icon='speed' value=system.characteristics.speed name="system.characteristics.speed" loc='DL.CharSpeed'}}
    {{> AttributeInput icon='insanity' value=system.characteristics.insanity name="system.characteristics.insanity" loc='DL.CharInsanity'}}
    {{> AttributeInput icon='corruption' value=system.characteristics.corruption name="system.characteristics.corruption" loc='DL.CharCorruption'}}
    {{> AttributeInput icon='power' value=system.characteristics.power name="system.characteristics.power" loc='DL.CharPower'}}
    {{> AttributeInput icon='difficulty' value=system.difficulty name="system.difficulty" loc='DL.CreatureDifficulty'}}
    <div class="item-group-attribute-value checkable" data-action="toggleFrightening">
      <div class="input-group" data-tippy-content="{{localize "DL.IsFrightening"}}">
        <input type="checkbox" name="system.frightening" {{checked system.frightening}}>
        <i class="icon-frightening themed-icon"></i>
        <span class="sep"></span>
        <span class="text">{{localize "DL.CreatureFrightening"}}</span>
      </div>
    </div>
    <div class="item-group-attribute-value checkable" data-action="toggleHorrifying">
      <div class="input-group" data-tippy-content="{{localize "DL.IsHorrifying"}}">
        <input type="checkbox" name="system.horrifying" {{checked system.horrifying}}>
        <i class="icon-horrifying themed-icon"></i>
        <span class="sep"></span>
        <span class="text">{{localize "DL.CreatureHorrifying"}}</span>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="drop-zones-container">
  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.TalentTitle"}}</b>
      <a class="create-nested-item" data-action="createNestedItem" data-tippy-content="{{localize 'DL.TalentAdd'}}"
          data-type="talent" data-group="talents" data-folder-loc="TalentTitle">
        <i class="fas fa-plus"></i>
      </a>
    </div>
{{> DropZoneEdit collection=system.talents dataGroup="talents"}}
  </div>

  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.WeaponTitle"}}</b>
      <a class="create-nested-item" data-action="createNestedItem" data-tippy-content="{{localize 'DL.WeaponAdd'}}"
        data-type="weapon" data-group="weapons" data-folder-loc="WeaponTitle">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{> DropZoneEdit collection=system.weapons dataGroup="weapons"}}
  </div>

  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.MagicSpellsTitle"}}</b>
      <a class="create-nested-item" data-action="createNestedItem" data-tippy-content="{{localize 'DL.SpellAdd'}}"
        data-type="spell" data-group="spells" data-folder-loc="MagicSpellsTitle">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{> DropZoneEdit collection=system.spells dataGroup="spells"}}
  </div>

  <div class="dl-item-section">
    <div class="dl-item-section-header">
      <b>{{localize "DL.CreatureSpecialEndRound"}}</b>
      <a class="create-nested-item" data-action="createNestedItem" data-tippy-content="{{localize 'DL.CreatureAddEndRound'}}"
        data-type="endoftheround" data-group="endOfRound" data-folder-loc="CreatureSpecialEndRound">
        <i class="fas fa-plus"></i>
      </a>
    </div>
    {{> DropZoneEdit collection=system.endOfRound dataGroup="endOfRound"}}
  </div>
</div>