<div class="demonlord" {{#if actor.id}}data-actor-id="{{actor.id}}" {{/if}}
  {{#if item.id}}data-item-id="{{item.id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
  <div class="showlessinfo">{{data.actorInfo}}</div>
  <header class="card-headersmall">
    <div class="header">{{localize "DL.ChallengeRollText"}}</div>
    <div class="gmremove headertext {{data.resultText}}">{{data.resultText}}</div>
    <div class="gmonlyzero headertext {{data.resultTextGM}}">{{data.resultTextGM}}</div>
  </header>

  <div class="result">
    <div class="box {{data.resultBoxClass}}">
      <div class="valuetext">{{item.name}}</div>
      <div class="boxborder tooltip">
        <div class="value">
          <div class="gmremove">{{data.diceTotal}}</div>
          <div class="gmonlyzero">{{data.diceTotalGM}}</div>
        </div>
        {{#if data.isCreature}}
          <div class="gmonly">
                    <span class="tooltiptext">
                      {{#each diceData.dice}}
                        <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                            <label style="color:{{this.color}};">
                              {{this.result}}
                            </label>
                          {{#if this.img}}
                            <img src='{{this.img}}'/>
                          {{/if}}
                        </div>
                      {{/each}}
                    </span>
          </div>
        {{else}}
          {{#if data.ifBlindedRoll }}
          <div class="gmonly">
          {{/if}}
          <span class="tooltiptext">
            {{#each diceData.dice}}
              <div class="{{#if this.dice}}dice{{else}}modifier{{/if}}">
                        <label style="color:{{this.color}};">
                          {{this.result}}
                        </label>
                {{#if this.img}}
                  <img src='{{this.img}}'/>
                {{/if}}
                    </div>
            {{/each}}
          </span>
          {{#if data.ifBlindedRoll }}
          </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="boxvs">
      <div class="vs">{{localize "DL.ChallengeVS"}}</div>
    </div>
    <div class="box {{data.resultBoxClass}}">
      <div class="valuetext">{{localize "DL.TalentRollTarget"}}</div>
      <div class="boxborderTarget">
        <div class="value">10</div>
      </div>
    </div>
  </div>
  {{#if data.actionEffects}}
    {{#if data.isCreature}}
      <div class="gmonly">
        <div class="description">
          <div class="header">{{localize "DL.TalentRollActions"}}</div>
          <div class="body">{{{data.actionEffects}}}</div>
        </div>
      </div>
    {{else}}
      <div class="description">
        <div class="header">{{localize "DL.TalentRollActions"}}</div>
        <div class="body">{{{data.actionEffects}}}</div>
      </div>
    {{/if}}
  {{/if}}
</div>
