<div class="demonlord" {{#if actor.id}}data-actor-id="{{actor.id}}" {{/if}}
  {{#if item.id}}data-item-id="{{item.id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
  <div class="showlessinfo"></div>
  <header class="init-header">
    <div class="inittext">
      {{localize "DL.DialogHealedFor"}}<b>{{data.healing.value}}</b>{{localize "DL.DialogHealedForPoints"}}
    </div>
  </header>
</div>
