<div class="demonlord" {{#if actor.id}}data-actor-id="{{actor.id}}" {{/if}} {{#if item.id}}data-item-id="{{item.id}}" {{/if}} {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
  <header class="card-header">
    {{#if data.img}}
    <div class="token-img">
      <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{actor.name}}" height="40" width="40" />
    </div>
    {{else if token.img}}
    <div class="token-img"><img class="profile-img" src="{{token.img}}" data-edit="img" title="{{actor.name}}"height="40" width="40" /></div>
    {{/if}}
    <div class="attackbox">
      <div class="header">{{localize "DL.DialogUseItem"}}</div>
      <div class="headertext">{{data.itemname.value}}</div>
    </div>
  </header>

  {{> "systems/demonlord/templates/chat/partial/chat-attack.hbs" data=data diceData=diceData}}

  {{> "systems/demonlord/templates/chat/partial/chat-description.hbs" description=data.description isCreature=data.isCreature}}

  {{> "systems/demonlord/templates/chat/partial/chat-extra-effects.hbs" extraEffect=item.system.action.extraEffect extraEffect20=item.system.action.extraEffect20 isPlus20Roll=data.isPlus20Roll}}

  {{> "systems/demonlord/templates/chat/partial/chat-challenge.hbs" data=data}}

    {{#if data.isCreature}}
    <div class="gmonly">

      {{> "systems/demonlord/templates/chat/partial/chat-measured-template.hbs" hasAreaTarget=data.hasAreaTarget
      uuid=item.uuid}}

      {{> "systems/demonlord/templates/chat/partial/chat-damage.hbs" data=data}}

      {{> "systems/demonlord/templates/chat/partial/chat-effects.hbs" data=data}}
    </div>
    {{else}}
    {{#if data.ifBlindedRoll }}
    <div class="gmonly">
      {{/if}}

      {{> "systems/demonlord/templates/chat/partial/chat-measured-template.hbs" hasAreaTarget=data.hasAreaTarget
      uuid=item.uuid}}

      {{> "systems/demonlord/templates/chat/partial/chat-damage.hbs" data=data}}

      {{> "systems/demonlord/templates/chat/partial/chat-effects.hbs" data=data}}
      {{#if data.ifBlindedRoll }}
    </div>
    {{/if}}
    {{/if}}
</div>