<!--div class="tab" data-group="primary" data-tab="contents"-->
  <div class="dl-item-section-contents" data-group="contents">
    <div><b>{{localize "DL.ContentsTitle"}}</b></div>
    <div class="dl-text-header-upper dl-underline-red dl-item-row-header">
      <div class="col-7">{{localize "DL.TabsItems"}}</div>
      <div class="col-2">{{localize "DL.ItemAmount"}}</div>
      <div class="col-2">{{localize "DL.ItemValue"}}</div>
    </div>
      {{#each item.system.contents as |content index|}}
      <div class="dl-item-row nested-item dropitem" data-item-index="{{index}}" data-item-id="{{content._id}}">
        <div class="row">
          <div class="col-7">
            <img class="dl-clickable-nored edit-nested-item" data-action="editNestedItem" src="{{content.img}}" title="{{content.name}}" width="32"
                height="32"/>
            <label class="dl-clickable-nored item-roll">{{content.name}}</label>
            <div class="dl-clickable dlToggleInfoBtn" data-action="toggleInfo">
              <i class="fas fa-angle-right"></i> {{localize "DL.ItemShowInfo"}}
            </div>
          </div>
          <div class="col-2 item-uses">
              {{content.system.quantity}} <i class="fas fa-arrows-alt-v"></i>
          </div>
          <div class="col-2">
            {{defaultValue system.value "―"}}
          </div>
          <div class="col-1 dl-clickable" style="padding-top: 3px" data-action="deleteItem">
            <a class="dl-clickable" data-action="deleteItem" title="{{localize 'DL.ItemDeleteItem'}}" style="margin-left: 2px; margin-top: 3px;">
              <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
        {{#if content.system.description}}
          <div class="row dlInfo" style="display: none; text-align: left">
            <div class="col-12" style="padding: 2px 4px 4px;">
              {{{content.system.enrichedDescription}}}
            </div>
          </div>
        {{/if}}
      </div>
      {{/each}}
    </div>
  <hr>
<!--/div-->
