<section class="tab changes{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
    <header>
        <div class="key">{{localize "EFFECT.FIELDS.changes.element.key.label"}}</div>
        <div class="type">{{localize "EFFECT.FIELDS.changes.element.type.label"}}</div>
        <div class="value">{{localize "EFFECT.FIELDS.changes.element.value.label"}}</div>
        <div class="priority">{{localize "EFFECT.FIELDS.changes.element.priority.label"}}</div>
        <div class="controls">
            <button type="button" class="inline-control icon fa-regular fa-square-plus" data-action="addChange"></button>
        </div>
    </header>
    <ol class="scrollable" data-changes>
        {{#each changes as |change|}}
        {{{change}}}
        {{/each}}
    </ol>
</section>
