{{!--
    Variables:
    - item
    - placeholderName (e.g. "Ancestry Name")
    - isEditable
    - edit
    - editId (e.g. "system.editAncestry")
--}}
<div class="demonlord-v2-item-sheet-header-container">
  <header class="demonlord-v2-item-sheet-header">
    <img class="demonlord-v2-header-img" src="{{item.img}}" data-action="editImage" data-edit="img" title="{{item.name}}" />
    <div class="demonlord-v2-header-fields">
      <div class="demonlord-v2-header-name">
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize placeholderName}}" />
      </div>
      <div class="demonlord-v2-header-type">{{item.type}}</div>
    </div>
    {{#if isEditable}}
    <div class="switch-toggle edit-toggle">
      <label class="switch" for="{{item.id}}">
        <input class="toggleInput" type="checkbox" id="{{item.id}}" name="{{editId}}" {{checked edit}}/>
        <div class="toggleFill"></div>
        <span class="toggleText off">View</span>
        <span class="toggleText on">Edit</span>
      </label>
    </div>
    {{/if}}
  </header>
</div>